<ion-view view-title="Directions">
	<ion-content class="has-tabs" has-bouncing="false">
	
		<ui-gmap-google-map id='map' center='map.center'  options="map.options" zoom='map.zoom' control="map.control" full-height>
				<ui-gmap-marker ng-if="!userPos"  coords="userPos" options="userMarkerOption" idKey="123">
			   </ui-gmap-marker>
		</ui-gmap-google-map>

			<!--<div id="map" data-tap-disabled="true"></div>		-->
	
		<div class="gps-div-direction" ng-click="get_my_location()">
			<img src="img/gps.png" alt="" class="gps-sym">
		</div>
	</ion-content>
	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item active" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div>
</ion-view>