<div ng-init="hide=true" ng-if="hide" class="modal image-modal transparent" ng-click="hide=false;closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="image in allImages">
            <ion-scroll zooming="true"
                    direction="xy" 
                    delegate-handle="zoom-pane" 
                    class="zoom-pane" 
                    min-zoom="1" 
                            scrollbar-x="false" 
                        scrollbar-y="false" 
                    overflow-scroll="false">
                <img ng-src="{{image.src}}" class="fullscreen-image"/>
            </ion-scroll>	
            
        </ion-slide>
    </ion-slide-box>
</div>
