<ion-modal-view class="write-review-modal">
	<ion-header-bar class="bar bar-clear">
		<h1 class="title"></h1>
		<button class="button button-icon icon ion-close-round" ng-click="modalCtrl.hide()"></button>
	</ion-header-bar>
	<ion-content overflow-scroll="true" ng-controller="reviewCtrl">
		<ion-list class="write-review-list">
			<ion-item class="item-input item-stacked-label">
				<span class="input-label">Your Rating</span>
				<rating ng-model="rating.rate" max="5"></rating>
			</ion-item>

			<ion-item class="item-input item-stacked-label">
				<span class="input-label">Title Of Review</span>
				<input type="text" class="review-title" ng-model="rating.title" />
			</ion-item>

			<ion-item class="item-input item-stacked-label">
				<span class="input-label">Your Review</span>
				<textarea rows="10" class="review" ng-model="rating.content"></textarea>
			</ion-item>
			<ion-item class="item-input item-stacked-label">
				<button class="button button-block" ng-click="submitReview()">
					SUBMIT
				</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>