<ion-modal-view class="transparent-modal">
	<ion-header-bar class="bar bar-clear">
		<h1 class="title"></h1>
	</ion-header-bar>
	<ion-content ng-click="closeSearchModal()">
		<div class="search-container">
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Search</span>
					<input type="text" placeholder="Search" class="search-input " ng-click="preventEvent($event)" />
					<img src="img/icon-search.png">	</i>
				</label>
			</div>
		</div>
	</ion-content>
</ion-modal-view>