<ion-list>
	<ion-radio ng-model="selected.value" ng-value="null" ng-click="display.value = null">---None---</ion-radio>
	<ion-radio ng-repeat="option in options" ng-model="selected.value" ng-value="option[valueField]" ng-click="display.value = option[displayField]">{{option[displayField]}}</ion-radio>
</ion-list>