<ion-modal-view class="modal_gallery" cache-view="false">
    <div class="modal fullscreen-player"  style="    background: rgba(0, 0, 0, 0.49);" ng-click="closeModal()">
        <video ng-src="{{video_url}}" class="centerme" controls="controls" autoplay></video>
    </div>
</ion-modal-view>
