<ion-view class="login-bg" view-title="Sign Up">
 <ion-header-bar style="background:none;">
    <h1 class="title light" style="font-weight:300 !important;">Create an Account</h1>
    <button ui-sref="default.login" class="button button-icon ion-ios-close-empty light"></button>
  </ion-header-bar>
  <ion-content>
    <br /><br />
    <form name="signupForm" ng-submit="fnRegister(signup)" novalidate>
      <div class="image-section" style="text-align: center;" ng-click="showPopup()" ng-if="myimage == undefined">
        <img class="icon" ng-src="img/icon-camera-white.png" style="width:80px;" id="myimage" />
      </div>
      <div class="image-section" style="text-align: center;" ng-click="showPopup()" ng-if="myimage">
        <img class="icon1" data-ng-src="data:image/png;base64,{{myimage}}" style="width:80px;height: 80px;" id="myimage" />
      </div>
      <div class="login-form">
        
        <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
          <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Name</span>
          <input type="text" placeholder="Name" name="name" style="text-align:center !important;padding-right:0px;" ng-model="signup.name" ng-pattern="/^[a-zA-Z\s]*$/" required>
        </label>
        <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
          <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Password</span>
          <input type="password" placeholder="Password" style="text-align:center !important;padding-right:0px;" name="password" ng-model="signup.password" ng-minlength="6" ng-maxlength="15" required>
        </label>
        <div class="form-error" ng-show="signupForm.password.$error.required && signupForm.password.$dirty">Password is required.</div>
        <div class="form-error" ng-show="!signupForm.password.$error.required && (signupForm.password.$error.minlength || signupForm.password.$error.maxlength) && signupForm.password.$dirty">Password must be between 6 and 15 characters.</div>
        <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
          <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Confirm Password</span>
          <input type="password" placeholder="Confirm Password" ng-model="signup.confirmpassword" style="text-align:center !important;padding-right:0px;" name="confirmpassword" ng-pattern="signup.password" required>
        </label>
        <div class="form-error" ng-show="signupForm.confirmpassword.$dirty && signupForm.confirmpassword.$error.required">Confirm password is required.</div>
        <div class="form-error" ng-show="signupForm.confirmpassword.$error.pattern">Passwords does not match.</div>
        <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
          <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Email</span>
          <input type="email" placeholder="Email" name="email" style="text-align:center !important;padding-right:0px;" ng-model="signup.email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{1,}[a-zA-Z]$/">
        </label>
        <div class="form-error" ng-show="signupForm.email.$dirty && signupForm.email.$error.required">
          Email is required.
        </div>
        <div class="form-error" ng-show="signupForm.email.$dirty && (signupForm.email.$error.pattern || signupForm.email.$error.email)">
          Email is invalid.
        </div>
        <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
          <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Mobile Number</span>
          <input type="tel" placeholder="Mobile Number" style="text-align:center !important;padding-right:0px;"  ng-model="signup.mobile" mask="(999) 999-9999" name="mobile" mask-clean='true' mask-restrict='reject' required>
        </label>
        <div class="form-error" ng-show="signupForm.mobile.$invalid && !signupForm.mobile.$pristine">Phone number is invalid.</div>
        <div class="action-btn">
          <button class="button button-full button-login" type="submit" ng-disabled="signupForm.$invalid" style="background:#e3b830;width: 80%;color:#fff;border-radius:50px;padding: 0;min-height: 45px !important;height: 45px;border: none !important;margin: 0 auto;">CREATE ACCOUNT</button><br />
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>