<ion-view view-title="Vendor Name">
    <ion-content class="home-container" overflow-scroll="true">
        <div class="login-form inquiry-form">
            
            <label class="item item-input">
                <label class="inquiry-label">To: <span>Lorem Ipsum</span></label>
            </label>
            <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
                <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Name</span>
                <input type="text" placeholder="Name" name="name" style="text-align:center !important;padding-right:0px;" >
            </label>
            <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
                <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Email</span>
                <input type="email" placeholder="Email" name="email" style="text-align:center !important;padding-right:0px;" >
            </label>
            <label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
                <span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Message</span>
                <input type="text" placeholder="Write your message" style="text-align:center !important;padding-right:0px;" name="message" >
            </label>
            <div class="action-btn">
                <button class="button button-full button-login" ng-click="sendEmail()" style="background:#e3b830;width: 80%;color:#1f1906;border-radius:50px;padding: 0;min-height: 45px !important;height: 45px;border: none !important;margin: 0 auto;color: #FFF;">SEND</button>
            </div>
        </div>
        
    </ion-content>
</ion-view>