<ion-view view-title="Guestslist">
	<ion-content class="home-container has-tabs has-header">
		<ion-refresher on-refresh="doRefresh_Home(false)"></ion-refresher>

	

    <div class="row header">
      <div class="col">Guest Name</div>
      <div class="col">Side</div>
      <div class="col">RSVP</div>
      <div class="col">Attending</div>
      <!--<div class="col"></div>-->
    </div>
    <div class="row" ng-repeat="guestList in guestLists">
      <div class="col">{{guestList.name}}</div>
      <div class="col">{{guestList.side}}</div>
      <div class="col">{{guestList.RSVP}}</div>
      <div class="col">{{guestList.attending}}</div>
      <!--<div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>-->
    </div>
	</ion-content>
	<div class="bar bar-footer" style="color: #fff; background-color: #ffbc52;" ng-click="modal.show()">
		<div class="title">Add New Guest</div>
	</div>
</ion-view>
