<ion-view view-title="Settings" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-content class="has-tabs" style="overflow-y: hidden;">



		<ion-list >
			<ul class="list">

				<div ng-click="changesettings_bluetooth()">
					<li class="item toggle-switch" style="overflow: visible;">
						<ion-toggle ng-model="mybluetooth" ng-checked="mybluetooth" toggle-class="toggle-custom" ng-disabled="true">
							Bluetooth
						</ion-toggle>
					</li>
				</div>

				<div ng-click="changesettings_wifi()">
					<li class="item toggle-switch" style="overflow: visible;">
						<ion-toggle ng-model="myWireless" ng-checked="myWireless" toggle-class="toggle-custom" ng-disabled="true">
							Wireless
						</ion-toggle>
					</li>
				</div>

				<div ng-click="changesettings_gps()">
					<li class="item toggle-switch" style="overflow: visible;">
						<ion-toggle ng-model="myGPS" ng-checked="myGPS" toggle-class="toggle-custom" ng-disabled="true">
							GPS
						</ion-toggle>
					</li>
				</div>

			</ul>
		</ion-list>
		
	</ion-content>
</ion-view>