<ion-view view-title="Inbox" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-content class="has-tabs">
		<ion-refresher on-refresh="doRefresh_inbox(false)"></ion-refresher>
		<ion-list class="rewards-list">
			<ion-item ng-repeat="item in messages"
				class="item-avatar item-button-right parent-item message">

				<img ng-src="{{item.image_url}}" />

				<h2><strong>{{item.title}}</strong><span ng-if="item.is_new" class="new-message">New</span></h2>

				<p ng-class="{full: item.isFull}" class="message-content">
					{{item.content}}
				</p>
				<p class="date-time">
					{{item.date}}
					<a href="#" ng-click="deleteMessage(item)" class="btn-del-message app_text_color"><i class="fa fa-trash"></i></a>
				</p>
				<button class="button button-clear button-positive" ng-click="updateMessage(item)">
					<i class="icon-arrow-down" ng-if="!item.isFull"></i>
					<i class="icon-arrow-up" ng-if="item.isFull"></i>
				</button>
			</ion-item>
		</ion-list>

		<div ng-if="messages==null || messages.length<=0" class="no_data">
			<img src="img/no_message.png" alt="" width="60px">
			<div>You have no message</div>
		</div>
	</ion-content>
	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item active" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div>
</ion-view>