<ion-view view-title="Checklist">
	<ion-content class="home-container has-tabs has-header">
		<ion-refresher on-refresh="doRefresh_Home(false)"></ion-refresher>

		<!--<div class="row">
			<div class="col slider-container">
				<ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
					<ion-slide-page ng-repeat="item in homepageSliders">
						<div class="slide-img">
							<img ng-src="{{item}}" alt="No Image" />
						</div>
					</ion-slide-page>
				</ion-slides>
				<div class="slider-mask"></div>
			</div>
		</div>-->

		<!--<div class="row home-grid" ng-if="!loading_homedata">
			<div class="col col-50" ui-sref="app.watsnew">
				<div class="card" style="background: url('img/home-item-1.jpeg'); background-size: cover;">
					<div class="mask">
						<p>What's New</p>
					</div>
				</div>
			</div>
			<div class="col col-50" ui-sref="app.tranding">
				<div class="card" style="background: url('img/home-item-2.jpg'); background-size: cover;">
					<div class="mask">
						<p>Trending</p>
					</div>
				</div>
			</div>
		</div>-->
		<div class="card" ng-if="loading">
            <h2 class="text-center">Coming Soon</h2>
        </div>

		<!-- <div class="row home-list" ng-repeat="item in Home_data">
			<div class="col" ng-if="filter_for_nightlife(item.category)">
				<div class="list-img" ng-click="viewVenuInfo(item)">
					<img ng-if="item.image_url!=false && item.image_url!=null && item.image_url!=''" ng-src="{{item.image_url}}" onerror="this.src='img/no_image.jpg';" alt="No image" />
					<img ng-if="item.image_url==false || item.image_url==null || item.image_url==''" ng-src="img/no_image.jpg" onerror="this.src='img/no_image.jpg';" alt="No image" />
					<button class="button button-icon icon button-favourite"
						ng-class="item.favorited ? 'ion-ios-heart' : 'ion-ios-heart-outline'">
					</button>
					<div class="list-info">
						<div class="row">
							<div class="col">
								<div class="name">
									<span>{{item.title}}</span>
									&nbsp;&nbsp;
									<i class="icon ion-android-star {{ item.rate > 0 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 1 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 2 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 3 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 4 ? 'active' : ''}}"></i>
								</div>
								<div class="details margin-top-8">
									<i class="icon ion-ios-information-outline"></i>
									{{item.category}}
									&nbsp
									<i class="icon ion-ios-location-outline"></i>
									{{item.distance | number: 2}} km
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<ion-list ng-if="!loading">
            <ion-item ng-repeat="checklist in checklistData.name" ng-click="goToChecklist(checklist)">
	      		<h2>{{checklist}}</h2>
            </ion-item>
        </ion-list>
		<!-- <div class="no-data-found" ng-if="for_nodata_json.length<=0">No data found</div> -->
	</ion-content>
	<div class="bar bar-footer" style="color: #fff; background-color: #ffbc52;" ng-click="modal.show()">
		<div class="title">Add Category</div>
	</div>
	<!--<div ng-bind-html="footer"></div>-->
</ion-view>
