<ion-modal-view class="login-bg">
	<ion-header-bar style="background:none;">
		<h1 class="title light" style="font-weight:300 !important;">Welcome back!</h1>
		<button ng-click="closeModallogin()" class="button button-icon ion-ios-close-empty light"></button>
	</ion-header-bar>
	<ion-content>
		<br /><br />
			<form name="loginForm" ng-submit="doLogin(user)" novalidate>
			<div class="login-form">
				<label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
					<span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Email</span>
					<input type="email" placeholder="Email" name="email" style="text-align:center !important;padding-right:0px;" ng-model="user.email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{1,}[a-zA-Z]$/">
				</label>
				<div class="form-error" ng-show="loginForm.email.$dirty && loginForm.email.$error.required">
					Email is required.
				</div>
				<div class="form-error" ng-show="loginForm.email.$dirty && (loginForm.email.$error.pattern || loginForm.email.$error.email)">
					Email is invalid.
				</div>
				<label class="item item-input item-floating-label" style="width:80%;margin:0 auto;">
					<span class="input-label" style="width:100%;text-align:center;padding:0;max-width: 100%;">Password</span>
					<input type="password" placeholder="Password" style="text-align:center !important;padding-right:0px;" name="password" ng-model="user.password" required>
				</label>
				<div class="action-btn">
					<button ng-disabled="loginForm.$invalid" class="button button-full button-login" type="submit" style="background:#e3b830;width: 80%;color:#1f1906;border-radius:50px;padding: 0;min-height: 45px !important;height: 45px;border: none !important;margin: 0 auto;color: #fff;">LOGIN</button><br />
					<center><a ng-click="gotoForgot()" style="text-align:center; color: #999b9d; text-decoration:none;font-size:12px;">Forgot Password?</a></center>
				</div>
			</div>
		</form>
	</ion-content>
</ion-modal-view>
