<ion-view view-title="Filter" hide-back-button="false">
	<ion-content class="home-container has-tabs">
		<div class="row home-list" ng-repeat="item in Home_data">
			<div class="col" ng-if="item.category==FilterItemName">
				<div class="list-img" ng-click="viewVenuInfo(item)">
					<img ng-if="item.image_url!=false && item.image_url!=null && item.image_url!=''" ng-src="{{item.image_url}}" onerror="this.src='img/no_image.jpg';" alt="No image" />
					<img ng-if="item.image_url==false || item.image_url==null || item.image_url==''" ng-src="img/no_image.jpg" onerror="this.src='img/no_image.jpg';" alt="No image" />
					<button class="button button-icon icon button-favourite"
						ng-class="item.favorited ? 'ion-ios-heart' : 'ion-ios-heart-outline'">
					</button>
					<div class="list-info">
						<div class="row">
							<div class="col">
								<div class="name">
									<span>{{item.title}}</span>
									&nbsp;&nbsp;
									<i class="icon ion-android-star {{ item.rate > 0 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 1 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 2 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 3 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 4 ? 'active' : ''}}"></i>
								</div>
								<div class="details margin-top-8">
									<i class="icon ion-ios-information-outline"></i>
									{{item.category}}
									&nbsp
									<i class="icon ion-ios-location-outline"></i>
									{{item.distance | number: 2}} km
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="no-data-found" ng-if="mycondition">No Data Found</div>
		

	</ion-content>
	<!-- <div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<!--<a class="tab-item" ng-click="scan_barcode()">
			<i class="icon-tab-qrcode"></i>
		</a>-->
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div> -->
	<!--<div ng-bind-html="footer"></div>-->
</ion-view>