<ion-view view-title="{{venue.title}} Menu">
	<!--<ion-nav-buttons side="left">-->
		<!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left">-->
		<!--</button>-->
	<!--</ion-nav-buttons>-->
	<!--<div class="bar bar-subheader tabs-bar">
		<ion-item class="tab-items">
			<div class="row venu-tabs">
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuInfo">INFO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuMenu" class="active">MENU</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuSocial">SOCIAL</a>
				</div>
			</div>
		</ion-item>
	</div>-->

		<div class="tabs bar bar-subheader  venu-tabs tabs-bar ">
			<a class="tab-item " href="#/app/venuInfo">INFO</a>
				<a class="tab-item " nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				<a class="tab-item active" nav-direction="swap" href="#/app/venuMenu">MENU</a>
					<a class="tab-item" nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
					<a class="tab-item "  nav-direction="swap" href="#/app/venuSocial" >SOCIAL</a>	
			
		</div>


	<ion-content class="venu-menu-container has-tabs has-tabs-subheader">
		<!--<pdf-viewer class="mypdfviewer" ng-if="venue.pdf_url!=null && venue.pdf_url!=''" delegate-handle="relativity-special-general-theory" url="venue.pdf_url" scale="0.67" show-toolbar="true" headers="{ 'x-you-know-whats-awesome': 'EVERYTHING' }"></pdf-viewer>

		<div ng-if="venue.pdf_url==null || venue.pdf_url==''" class="no_data">
			<div>No PDF file avialable</div>
		</div>-->


		<ion-scroll max-zoom="5" overflow-scroll="false" zooming="true" direction="xy" style="width: 100%; height:100%;" scrollbar-x=false; scrollbar-y = false;>
   <pdf-viewer class="mypdfviewer" ng-if="venue.pdf_url!=null && venue.pdf_url!=''" delegate-handle="relativity-special-general-theory" url="venue.pdf_url" scale="1" show-toolbar="true" headers="{ 'x-you-know-whats-awesome': 'EVERYTHING' }"></pdf-viewer>

		<div ng-if="venue.pdf_url==null || venue.pdf_url==''" class="no_data">
			<div>No PDF file avialable</div>
		</div>
</ion-scroll>
	</ion-content>

	


	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item" href="#/app/inbox">
			<i class="icon-tab-mail"></i>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div>
</ion-view>