<ion-view view-title="My Profile" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-content class="venu-menu-container has-tabs">
		<div class="row profile-row">
			<img class="profile-pic profile_image" ng-click="editimage()" ng-src="{{user.profile_image_url}}" />
		</div>
		<div class="profile_name">
			{{user.name}}
		</div>
		<div class="profile_location">
			<i class="icon ion-ios-location"></i> {{user.address}}
		</div>
	<!-- 	<div class="row app_bg_color profile_count" >
			<div class="col">
				<div class="row" style="    min-height: 50px;">
						<div>
						<img src="img/icon-heart.png"  width="35px"/>
					
						<v>{{info.favorited}}</v>
						</div>
					
				</div>
			<div>Favrioutes</div>
				
			</div>
			<div class="profile_divider"></div>
			<div class="col">
				<div class="row" style="    min-height: 50px;">
						<div>
						<img src="img/icon-like.png" width="35px"/>
					
						<v>{{info.subscribed}}</v>
						</div>
					
				</div>
				<div>Subscriptions</div>
				
			</div>
		</div> -->
		
		<!--<div class="row profile-row">
			<div class="col col-33 profile-pic-col">
				<img class="profile-pic" ng-src="{{user.profile_image_url}}" />
				<button class="button button-clear button-image edit-btn" ng-click="editimage()">
					<img ng-src="img/icon-edit.png" />
				</button>
			</div>
			<div class="col profile-details-col">
				<div class="user-details">
					<h3 class="user-name">{{user.name}}</h3>
					<button class="button button-clear button-image edit-btn">
						<img src="img/icon-edit.png" />
					</button>
					<br>
					<br>
					<p class="user-place"><i class="icon ion-ios-location"></i>&nbsp;&nbsp;{{user.address}}</p>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row profile-info-row">
			<div class="col col-50">
				<div class="info text-center border-right">
					<img src="img/icon-favrioute.png" />
					<p class="count">{{info.favorited}}</p>
					<p>Favrioutes</p>
				</div>
				
			</div>
			<div class="col col-50">
				<div class="info text-center">
					<img src="img/icon-subscription.png" />
					<p class="count">{{info.subscribed}}</p>
					<p>Subscriptions</p>
				</div>
			</div>
		</div>-->
	</ion-content>
<!-- 	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div> -->
</ion-view>