<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-custom" align-title="left">
			<ion-nav-back-button class="button-clear">
				<i class="ion-arrow-left-c"></i> Back
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-clear">
			<h1 class="title"></h1>
		</ion-header-bar>
		<ion-content class="sidebar has-clear-header">
			<div class="row sidebar-profile-box"  ng-click="redirectTo('/app/profile')">
				<div class="col col-33 col-center">
					<a ui-sref="app.profile" menu-close>
						<img ng-src="{{user.profile_image_url}}" class="profile-image"  alt="">
					</a>
				</div>
				<div class="col col-66 col-center">
					{{user.name}}
					<h4 style="color:white;font-size:12px;    line-height: 1.3;"><i class="icon ion-ios-location"></i> {{user.address}} </h4>
				</div>
			</div>
			<ion-list class="menu-list">
				<ion-item menu-close ui-sref="app.home">
					<i class="icon-home"></i> Find Venue
				</ion-item><ion-item menu-close ui-sref="app.Restaurants">
					<i class="icon-restaurants"></i> Find a Wedding Vendor
				</ion-item>
				<ion-item menu-close ui-sref="app.Nightlife">
					<i class="icon-nightlife"></i> Checklist
				</ion-item>
				<ion-item menu-close ui-sref="app.Accommodation">
					<i class="icon-accommodation"></i> Guestlist
				</ion-item>
				<ion-item menu-close ui-sref="app.eventList">
					<i class="icon-events"></i> Messages
				</ion-item>
				<ion-item menu-close ui-sref="app.settings">
					<i class="icon-rewards"></i> Settings
				</ion-item>
				 <ion-item menu-close ui-sref="app.help">
					<i class="icon ion-ios-help-outline" style="font-size: 30px;color: #ffbc52;"></i> Help
				</ion-item>
				<!--<ion-item menu-close ui-sref="app.settings">
					<i class="icon-settings"></i> Settings
				</ion-item> -->
				<ion-item menu-close ng-click="signout()" style="padding: 15px 49px 15px 20px;">
					<i class="icon-logout"></i> Logout
				</ion-item>                   
			</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>
