<ion-view view-title="FIND A WEDDING VENDOR" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-clear" menu-toggle="left"><img src="img/menu-icon.png" style="width:22px;" />
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a class="button button-clear button-image button-big edit-btn btn search_btn"  href="#/app/filter">
			<img src="img/search.png" style="width:22px;" />
		</a>
	</ion-nav-buttons>
	<ion-content class="home-container">
		<ion-refresher on-refresh="doRefresh_Home(false)"></ion-refresher>
			<div class="list">
				<a class="item no_padding vendor-item" ui-sref="app.home" ng-repeat="data in Home_data">
					<div class="bg-overlay" style="height: 98%;"></div>
					<img class="full-image" src="{{data.imageurl}}"  />
					<h3 style="position: absolute;font-size: 27px;top: 40%;color: #FFF;left: 5%;">{{data.vendordetails.name}}</h3>
				</a>
			</div>
	</ion-content>
</ion-view>