<ion-view view-title="{{venue.title}} Social">
	<!--<ion-nav-buttons side="left">-->
		<!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left">-->
		<!--</button>-->
	<!--</ion-nav-buttons>-->
	<!--<div class="bar bar-subheader tabs-bar">-->
		<!--<ion-item class="tab-items">
			<div class="row venu-tabs">
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuInfo">INFO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuMenu">MENU</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuSocial" class="active">SOCIAL</a>
				</div>
			</div>
		</ion-item>-->
		<div class="tabs bar bar-subheader  venu-tabs tabs-bar ">
			<a class="tab-item" href="#/app/venuInfo">INFO</a>
				<a class="tab-item" nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				<a class="tab-item" nav-direction="swap" href="#/app/venuMenu">MENU</a>
					<a class="tab-item" nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
					<a class="tab-item active"  nav-direction="swap" href="#/app/venuSocial" >SOCIAL</a>	
			
		</div>
	<!--</div>-->
	<ion-content class="venu-menu-container has-tabs has-tabs-subheader social_background">
	<ion-refresher on-refresh="doRefresh_Social(false)"></ion-refresher>
	
		<div class="social-feed-container">
			<div class="social-feed-element" ng-if="facebook_data" ng-repeat="item in facebook_data.data">
				<div class='content'>
					<a class="pull-left">
						<!--<img class="media-object" ng-src="{{item.picture}}">-->
						<img class="media-object" ng-if="item.picture!=false && item.picture!=null && item.picture!=''" ng-src="{{item.picture}}" onerror="this.src='img/no_image.jpg';" alt="No image" />
						<img class="media-object" ng-if="item.picture==false || item.picture==null || item.picture==''" ng-src="img/no_image.jpg" onerror="this.src='img/no_image.jpg';" alt="No image" />
					</a>
					<div class="media-body">
						<p style="margin: 0 !important;">
							<span class="author-title" style="padding: 0px 16px;margin: 0 !important;">{{item.from.name}}</span>
						</p>
						<div class='text-wrapper' style="padding: 0px 16px;font-size: 12px;color: #828282;">
							{{ item.created_time | formatTwitterDate}}
						</div>
					</div>
					<div class="attachment" style="padding-top: 20px;" ng-bind="item.message"></div>
					<div ng-if="item.link!=false && item.link!=null && item.link !=''" ng-click="open_web(item.link)" class="app_text_color" style="    margin-top: 5px;text-align: right;font-weight: bold;font-family: sans-serif;cursor: pointer;">
						Visit page</div>
				</div>
			</div>

			<!--<div class="social-feed-element" ng-if="instagram.media_data" ng-repeat="item in instagram.media_data">-->
			<div class="social-feed-element" ng-if="instagram_data!=null || instagram_data.length>0" ng-repeat="item in instagram_data">
				<div class='content'>
					<a class="pull-left">
						<img class="media-object" ng-src="{{instagram.profile_image_url}}">
					</a>
					<div class="media-body">
						<p>
							<i class="fa fa-instagram"></i>
							<span class="author-title">{{instagram.name}}</span>
							<span class="muted pull-right"></span>
						</p>
						<div class='text-wrapper'>
						</div>
					</div>
					
					<img class="attachment" style="margin-top: 10px;width: 100%;" ng-src="{{item.thumbnail_src}}">
				</div>
			</div>
		</div>

		<div class="list">

      <a class="item item-avatar" ng-repeat="tweet in tweets">
        <img ng-src="{{ tweet.user.profile_image_url }}">
        <h2>{{ tweet.user.name }}</h2>
        <small>@{{ tweet.user.screen_name }}</small>
        <small class="time"> {{ tweet.created_at | formatTwitterDate}}</small>
		<p compile="tweet.text | formatTwitterText"></p>
       
      </a>

    </div>

	<!--<img src="https://www.facebook.com/1195626320544250/photos/a.1196238040483078.1073741827.1195626320544250/1196237800483102/?type=3" alt="">-->


	<div ng-if="instagram_data==null || instagram_data.length<=0" class="no_data">
			<!--<img src="img/no_message.png" alt="" width="60px">-->
			<div>No Data avialable</div>
		</div>
  	</ion-content>
	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div>
</ion-view>