ul.rating {
	text-align: center;
	margin: 20px 0;
}

ul.rating li {
	display: inline;
	border: 0px;
	background: none;
}

ul.rating li i {
	font-size: 50px;
}

ul.rating li i.ion-ios-star {
	color: #212326;
}

ul.rating li i.ion-ios-star.active,
ul.rating li i.ion-ios-star.ion-ios-star-half {
	color: #fff200;
}