<ion-view view-title="VENUES" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-clear" menu-toggle="left"><img src="img/menu-icon.png" style="width:22px;" />
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<!-- <a class="button button-clear button-image button-big edit-btn btn search_btn"  href="#/app/filter">
			<img src="img/search.png" style="width:22px;" />
		</a> -->
		<a class="button button-clear button-image button-big edit-btn btn ion-funnel" href="#/app/filter" style="font-size: 29px; ">
			<!-- <img src="img/search.png" style="width:22px;" /> -->
		</a>
	</ion-nav-buttons>
	<ion-content class="home-container" style="top: 44px;">
		<ion-refresher on-refresh="doRefresh_Home(false)"></ion-refresher>
		<div class="list card home-list" ng-repeat="data in Home_data">
			<div class="item item-avatar home-item" style="border: transparent" ng-click="gotodetail(data)">
				<img ng-src="{{data.image_url}}" on-error-src="img/avatar.png" class="logo-img">
				<h2 style="font-size:1.2rem;">{{data.title}}</h2>
				<p style="font-size: 18">{{changeaddress(data.address)}}</p>
				<p>Operating hours: {{ get12hourFormat(data.from_time) }} to {{ get12hourFormat(data.to_time) }}</p>
				<span class="item-note home-span" style="top: 10px; bottom:0px">
			  	<img src="img/marker.png" class="home-img">&nbsp;<span class="home-img-span">{{data.distance | limitTo:5}}km</span>
				</span>
			</div>
			<div class="row">
					<div class="col col-20"><img src="../../img/stars.png" class="home-rating"></div>
					<div class="col col-20"><img src="../../img/call.png" ng-click="gotodetail(data)" class="venue-option"></div>
					<div class="col col-20"><img src="../../img/email.png" ng-click="gotodetail(data, 'email')" class="venue-option"></div>
					<div class="col col-20"><img src="../../img/chat.png" ng-click="gotodetail(data, 'chat')" class="venue-option"></div>
					<!-- <div class="col"></div>
					<div class="col"></div> -->
				</div>

			<!-- <div class="item item-body home-item-body"> -->
			<!-- <div class="bg-overlay1"></div> -->
			<!-- <img class="full-image" src="{{data.image_url}}"> -->
			<!-- <p class="home-p">
					<span ng-class="(data.rate > 0)? 'happ-active':'happ-inactive'"></span>
					<span style="margin-left: 20px !important;" ng-class="(data.rate > 1)? 'happ-active':'happ-inactive'"></span>
					<span style="margin-left: 40px !important;" ng-class="(data.rate > 2)? 'happ-active':'happ-inactive'" "></span>
       			 <span  style="margin-left: 60px !important; " ng-class="(data.rate> 3)? 'happ-active':'happ-inactive'"></span>
					<span style="margin-left: 80px !important;" ng-class="(data.rate > 4)? 'happ-active':'happ-inactive'"></span>
					<ionic-ratings class="text-left" ratingsobj='ratingsObject' ng-model="data.rate" index='$index'></ionic-ratings>
				</p> -->
			<!-- </div> -->
		</div>

	</ion-content>
</ion-view>