<ion-modal-view>
  <ion-header-bar style="background-color: #ffbc52; color: #fff;">
  	<h1 class="title">Add Category</h1>
  	<button class="button button-icon icon ion-close-round" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
  	<form ng-submit="addChecklist()">
	  	<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Title</span>
		    <input type="text" ng-model="checklist.name" placeholder="Title">
		  </label>
		  <label class="item">
	        <button class="button button-block button-positive" style="background-color: #ffbc52; color: #fff;" type="submit">Add Category</button>
	      </label>
		</div>
	</form>
  </ion-content>
</ion-modal-view>