<ion-modal-view>
  <ion-header-bar style="background-color: #ffbc52; color: #fff;">
  	<h1 class="title">Add Guest</h1>
  	<button class="button button-icon icon ion-close-round" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
  	<form ng-submit="saveGuestList()">
	  	<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">List Name</span>
		    <input type="text" ng-model="guestList.name" placeholder="Guest Name">
		  </label>
	      	<div class="item item-divider">
		    	Side
		  	</div>
	      	<div>
	      		<ion-radio name="side" ng-model="guestList.side" ng-value="'Bride'">Bride</ion-radio>
				<ion-radio name="side" ng-model="guestList.side" ng-value="'Groom'">Groom</ion-radio>
				<ion-radio name="side" ng-model="guestList.side" ng-value="'Child'">Child</ion-radio>
			</div>
			<div class="item item-divider">
		    	RSVP
		  	</div>
	      	<div>
	      		<ion-radio name="RSVP" ng-model="guestList.RSVP" ng-value="'Yes'">Yes</ion-radio>
				<ion-radio name="RSVP" ng-model="guestList.RSVP" ng-value="'No'">No</ion-radio>
			</div>
			<div class="item item-divider">
		    	Attending
		  	</div>
	      	<div>
	      		<ion-radio name="attending" ng-model="guestList.attending" ng-value="'Yes'">Yes</ion-radio>
				<ion-radio name="attending" ng-model="guestList.attending" ng-value="'No'">No</ion-radio>
				<ion-radio name="attending" ng-model="guestList.attending" ng-value="'Not Decided'">Not Decided</ion-radio>
			</div>
			<label class="item">
	        	<button class="button button-block" style="background-color: #ffbc52; color: #fff;" type="submit">Add</button>
	      	</label>
		</div>
	</form>
  </ion-content>
</ion-modal-view>