<!-- <ion-view view-title="Reset Your Password">
  <ion-nav-bar class="bar-clear bar-custom">
    <ion-nav-buttons side="left">
      <a class="button button-icon button-clear ion-arrow-left-c" href="#/default/login">
        
      </a>
    </ion-nav-buttons>
  </ion-nav-bar> -->
<ion-view class="login-bg" style="z-index: 0;">
  <ion-header-bar style="background:none;">
    <h1 class="title light" style="font-weight:300 !important;">Reset Your Password</h1>
    <button ui-sref="default.login" class="button button-icon ion-ios-close-empty light"></button>
  </ion-header-bar>
  <ion-content class="login-bg has-clear-header">
    <div set-full-height>
      <form name="signupForm" ng-submit="resetPassword(email)" novalidate>
        <div class="signup-container">
          <div class="main-logo">
          <img src="img/Newlogo.png" style="width: 35%;" />
        </div>
        <h2 class="title" style="color:#e3b830;">Wed Wise</h2>
        <br />
          <p class="signup-info-textforgot">Please enter your email address and we will send you an email to reset your password</p>
          <div class="login-form">
            
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="email" placeholder="Email" ng-model="email" class="bg-icon-mail" name="email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{1,}[a-zA-Z]$/">
            </label>
            <div class="form-error" ng-show="signupForm.email.$dirty && signupForm.email.$error.required" >Email is required.</div>
            <div class="form-error" ng-show="signupForm.email.$dirty && (signupForm.email.$error.pattern || signupForm.email.$error.email)" >Email is invalid.</div>
            
            <div class="action-btn">
              <button class="button button-full button-login" type="submit" ng-disabled="signupForm.$invalid">
                RESET PASSWORD
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>