<ion-view view-title="Checklist">
	<ion-content class="home-container has-tabs">
		<ion-refresher on-refresh="doRefresh_Home(false)"></ion-refresher>
		</div>
		<div class="card" ng-if="loading">
            <h2 class="text-center">Coming Soon</h2>
        </div>
		<ion-list ng-if="!loading">
            <ion-list>
	            <ion-checkbox ng-repeat="item in checklistItems">
	                <h2>{{item.name}}</h2>
	                <p>{{item.notes}}</p>
	            </ion-checkbox>
	        </ion-list>
        </ion-list>
		<!-- <div class="no-data-found" ng-if="for_nodata_json.length<=0">No data found</div> -->
	</ion-content>
	<div class="bar bar-footer" style="color: #fff; background-color: #ffbc52;" ng-click="modal.show()">
		<div class="title">Add Checklist</div>
	</div>
	<!--<div ng-bind-html="footer"></div>-->
</ion-view>
