<ion-view view-title="{{venue.title}} Video" cache-view="false">
	<!--<ion-nav-buttons side="left">-->
		<!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left">-->
		<!--</button>-->
	<!--</ion-nav-buttons>-->
	<!--<div class="bar bar-subheader tabs-bar">
		<ion-item class="tab-items">
			<div class="row venu-tabs">
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuInfo">INFO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuMenu">MENU</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuVideo" class="active">VIDEO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuSocial">SOCIAL</a>
				</div>
			</div>
		</ion-item>
	</div>-->

	<div class="tabs bar bar-subheader  venu-tabs tabs-bar">
			<a class="tab-item" href="#/app/venuInfo">INFO</a>
			<a class="tab-item" nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
			<a class="tab-item" nav-direction="swap" href="#/app/venuMenu">MENU</a>
			<a class="tab-item active" nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
			<a class="tab-item "  nav-direction="swap" href="#/app/venuSocial" >SOCIAL</a>	
		
		</div>


	<ion-content class="venu-menu-container has-tabs has-tabs-subheader" >
	<!--<ion-content class="venu-menu-container has-tabs has-tabs-subheader" style="background-image:url(img/login-bg.png)">-->
		<div style="height: 100%;    background-color: rgba(218, 218, 218, 0.4);">
		<ion-list ng-if="venue.video_url!=null || venue.video_url!='' || venue.video_url.length>0">
			<ion-list class="videogular-container player" >
				<!--<div style="position:relative;margin-top: calc(50% - 50px);">
				<video  width="100%" class="video" oncontextmenu="return false;" ng-hide="venue.video_url==null || venue.video_url=='' || venue.video_url.length<=0">
					<source ng-src="{{video_url}}" type="video/mp4">
					<source ng-src="{{video_url}}" type="video/ogg">
					<source ng-src="{{video_url}}" type="video/">
					Your browser does not support the video tag.
				</video>
				<div style="position: absolute;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.49);
    top: 0;" ng-click="playVideo()">
	<img style="    margin: auto;
    display: table;
    width: 25%;
    margin-top: 45px;" src="img/icon-play.png" alt="" ng-hide="venue.video_url==null || venue.video_url=='' || venue.video_url.length<=0"></div>
				</div>-->


				<videogular vg-theme="config.theme" vg-player-ready="onPlayerReady($API)" style="position: relative;    height: 200px;background: black;
margin: auto;margin-top: calc(50% - 50px);width: 98%;    max-height: 200px;">
					<vg-media vg-src="config.sources"
						vg-tracks="config.tracks" vg-youtube="rel=1;showinfo=1">
					</vg-media>

					<vg-controls>
						<vg-play-pause-button>
							<div class="control play-btn">
								<img src="img/icon-play.png" />
							</div>
						</vg-play-pause-button>
						<vg-time-display>{{ currentTime | date:'mm:ss':'UTC' }}</vg-time-display>
						<vg-scrub-bar>
							<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						</vg-scrub-bar>
						<vg-time-display>{{ timeLeft | date:'mm:ss':'UTC' }}</vg-time-display>
						<vg-volume>
							<vg-mute-button></vg-mute-button>
							<vg-volume-bar></vg-volume-bar>
						</vg-volume>
						<vg-fullscreen-button></vg-fullscreen-button>
					</vg-controls>

					<vg-overlay-play></vg-overlay-play>
					<vg-poster vg-url='config.plugins.poster'></vg-poster>
				</videogular>

			</ion-list>
		</ion-list>
		<div ng-if="venue.video_url==null || venue.video_url=='' || venue.video_url.length<=0" class="no_video">
			<div>No Video avialable</div>
		</div>

	</div>	
	</ion-content>
	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div>
</ion-view>