<ion-view view-title="Venue" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-clear" menu-toggle="left"><img src="img/menu-icon.png" style="width:22px;" />
		</button>
	</ion-nav-buttons>
	<ion-content class="home-container" overflow-scroll="true">

		<ion-refresher on-refresh="doRefresh_Home(false)"></ion-refresher>
		<div class="list" ng-if="Home_data!=''">

		  <div class="item item-body veneu-body">
			<img class="full-image" ng-src="{{Home_data.image_url}}">
			<h1 class="venue-title" style="font-size: 25px">{{Home_data.title}}</h1>
			<h2 class="venue-title" style="margin-top: 13%;" ng-bind="changeaddress(Home_data.address)"></h2>
			<p class="veneu-p">
				<span ng-class="(Home_data.rate > 0)? 'happ-active':'happ-inactive'"></span>
				<span style="margin-left: 20px !important;"  ng-class="(Home_data.rate > 1)? 'happ-active':'happ-inactive'"></span>
				<span style="margin-left: 40px !important;"  ng-class="(Home_data.rate > 2)? 'happ-active':'happ-inactive'""></span>
       			 <span  style="margin-left: 60px !important;" ng-class="(Home_data.rate > 3)? 'happ-active':'happ-inactive'"></span>
        		<span  style="margin-left: 80px !important;"  ng-class="(Home_data.rate > 4)? 'happ-active':'happ-inactive'"></span>
			</p>
			<span class="item-note  home-span">
			  <img src="img/marker.png" class="home-img">&nbsp;&nbsp;&nbsp;<span class="home-img-span" style="color: #FFF !important;">{{distance | limitTo:5}}km</span>
			</span>
		  </div>
      <ion-gallery ion-gallery-items="gallery" ion-gallery-row="gallery_count" ></ion-gallery>
			<!--<ion-scroll  class="product-scroll" ng-if="Home_data.gallery != null" direction="x" has-bouncing="true" overflow-scroll="true">-->
				<!--<div class="product-image-wrapper" style="height: 70px; width: 100px;" ng-repeat="img in Home_data.gallery">-->
					<!--&lt;!&ndash;<a href="{{ img }}" data-lightbox="roadtrip" ng-click="imgClicked(Home_data.gallery);">&ndash;&gt;-->
          <!--<a ng-click="imgClicked(Home_data.gallery);">-->
						<!--<img data-lightbox="roadtrip" class="img_{{ $index }}" ng-src="{{ img }}" />-->
					<!--</a>-->
				<!--</div>-->
			<!--</ion-scroll>-->
		  <div class="item item-text-wrap text-center veneu-content" ng-bind-html="Home_data.content">
		  </div>
		  <a class="item item-icon-left item-icon-right" style="border-color: #ffbc52 !important;" href="#/app/chat">
		    <i class="icon icon-chat"></i>
		    Live Chat
		    <i class="icon icon-arraow"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" style="border-color: #ffbc52 !important;" href="#/app/sendinquiry">
		    <i class="icon icon-email"></i>
		    Send Enquiry
		    <i class="icon icon-arraow"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" style="border-color: #ffbc52 !important;" ng-click="gotomap(Home_data.latitude,  Home_data.longitude);">
		    <i class="icon icon-diraction"></i>
		    Get Directions
		    <i class="icon icon-arraow"></i>
		  </a>
		  <a class="item item-icon-left item-icon-right" href="tel:{{Home_data.contact_number}}" style="border-color: #ffbc52 !important;" href="#">
		    <i class="icon icon-call"></i>
		    Call
		    <i class="icon icon-arraow"></i>
		  </a>
		  <br />
		 	<center>
				Operating hours: {{ get12hourFormat(Home_data.from_time) }} to {{ get12hourFormat(Home_data.to_time) }}
			</center>
		  <br />
		  <div class="action-btn">
			<button ng-click="review()" class="button button-full button-login review-btn" type="submit">WRITE A REVIEW</button><br />
			<center>
		   </div>
		   <a class="item item-avatar" ng-repeat="review in Home_data.reviews">
		      <img ng-src="{{review.profile_image_url}}">
		      <h2 style=" width: 30%;">{{review.author}}</h2>
		        <p class="review-bottom-p" style="height: 40px !important;width: 29% !important;">
					<span ng-class="(review.rate > 0)? 'happ-active':'happ-inactive'" style="width:14px;display:inline-block;margin:0 1px;    top: 0px !important;"></span>
					<span style="margin-left: 20px !important;width:14px;display:inline-block;margin:0 1px;top: 0px !important;"  ng-class="(review.rate > 1)? 'happ-active':'happ-inactive'"></span>
					<span style="margin-left: 40px !important;width:14px;display:inline-block;margin:0 1px;top: 0px !important;"  ng-class="(review.rate > 2)? 'happ-active':'happ-inactive'""></span>
	       			 <span  style="margin-left: 60px !important;width:14px;display:inline-block;margin:0 1px;top: 0px !important;" ng-class="(review.rate > 3)? 'happ-active':'happ-inactive'"></span>
	        		<span  style="margin-left: 80px !important;width:14px;display:inline-block;margin:0 1px;top: 0px !important;"  ng-class="(review.rate > 4)? 'happ-active':'happ-inactive'"></span>
				</p>
				<p class="review-date">{{review.date}}</p>
		      <p>{{review.comment_content}}Lorem i</p>
		    </a>
		</div>

	</ion-content>
</ion-view>
