<ion-view view-title="Search" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<div class="bar bar-subheader item-input-inset app_bg_color">
		<label class="item-input-wrapper bg_white">
			<!--<i class="icon ion-ios-search placeholder-icon"></i>-->
			<input type="search" class="search_input" ng-model="search_text" placeholder="Type your search here..">
		</label>
		<button class="button button-clear text_white " on-tap="search()">
			<i class="ion-ios-search-strong search_icon">	</i>
		</button>
	</div>
	<!--</ion-header-bar>-->

	<ion-content class="has-tabs has-subheader">



		<div class="row home-list" ng-repeat="item in search_data">
			<div class="col">
				<div class="list-img" ng-click="viewVenuInfo(item)">
					<img ng-if="item.image_url!=false && item.image_url!=null && item.image_url!=''" ng-src="{{item.image_url}}" onerror="this.src='img/no_image.jpg';" alt="No image" />
					<img ng-if="item.image_url==false || item.image_url==null || item.image_url==''" ng-src="img/no_image.jpg" onerror="this.src='img/no_image.jpg';" alt="No image" />
					<button class="button button-icon icon button-favourite"
						ng-class="item.favorited ? 'ion-ios-heart' : 'ion-ios-heart-outline'">
					</button>
					<div class="list-info">
						<div class="row">
							<div class="col">
								<div class="name">
									<span>{{item.title}}</span>
									&nbsp;&nbsp;
									<i class="icon ion-android-star {{ item.rate > 0 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 1 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 2 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 3 ? 'active' : ''}}"></i>
									<i class="icon ion-android-star {{ item.rate > 4 ? 'active' : ''}}"></i>
								</div>
								<div class="details margin-top-8">
									<i class="icon ion-ios-information-outline"></i>
									{{item.category}}
									&nbsp;
									<i class="icon ion-ios-location-outline"></i>
									{{item.distance | number: 2}} km
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	

	<div ng-if="search_data==null || search_data.length<=0" class="no_data">
			<!--<img src="img/no_message.png" alt="" width="60px">-->
			<div>No search found</div>
		</div>
	</ion-content>
</ion-view>



