<ion-view view-title="{{venue.title}} Gallery">
	<!--<ion-nav-buttons side="left">-->
		<!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left">-->
		<!--</button>-->
	<!--</ion-nav-buttons>-->
	<!--<div class="bar bar-subheader tabs-bar">
		<ion-item class="tab-items">
			<div class="row venu-tabs">
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuInfo">INFO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuGallery" class="active">GALLERY</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuMenu">MENU</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuSocial">SOCIAL</a>
				</div>
			</div>
		</ion-item>
	</div>-->

			<div class="tabs bar bar-subheader  venu-tabs tabs-bar ">
			<a class="tab-item " href="#/app/venuInfo">INFO</a>
				<a class="tab-item active" nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				<a class="tab-item" nav-direction="swap" href="#/app/venuMenu">MENU</a>
					<a class="tab-item" nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
					<a class="tab-item "  nav-direction="swap" href="#/app/venuSocial" >SOCIAL</a>	
			
		</div>
	<ion-content class="venu-menu-container has-tabs has-tabs-subheader">
		<div class="row divider-row">
			<div class="col divider-item">
				Gallery: <span class="count">({{gallery.length}} photos)</span>
			</div>
		</div>
		<div class="gallery-grid-view">
			<ion-gallery ion-gallery-items="gallery" ion-gallery-row="4" ion-item-action="itemAction(item)"></ion-gallery>
		</div>
		<div class="row divider-row">
			<div class="col col-60 divider-item">
				User Gallery: <span class="count">({{userGallery.length}} photos)</span>
			</div>
			<div class="col col-40 add-photo-btn text-right" ng-click="showPopup()">
				<span>Add photo</span>
				<img src="img/icon-camera.png" />
			</div>
		</div>
		<div class="gallery-grid-view">
			<ion-gallery ion-gallery-items="userGallery" ion-gallery-row="4"></ion-gallery>
		</div>
	</ion-content>
	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div>
</ion-view>