<ion-view view-title="{{venue.title}} Info">
	<!--<ion-nav-buttons side="left">-->
		<!--<button class="button button-icon button-clear ion-backspace">-->
		<!--</button>-->
	<!--</ion-nav-buttons>-->
	<!--<div class="bar bar-subheader tabs-bar">
		<ion-item class="tab-items">
			<div class="row venu-tabs">
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuInfo" class="active">INFO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuMenu">MENU</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
				</div>
				<div class="col col-20">
					<a nav-direction="swap" href="#/app/venuSocial">SOCIAL</a>
				</div>
			</div>
		</ion-item>
	</div>-->

	<div class="tabs bar bar-subheader  venu-tabs tabs-bar ">
			<a class="tab-item active" href="#/app/venuInfo">INFO</a>
				<a class="tab-item" nav-direction="swap" href="#/app/venuGallery">GALLERY</a>
				<a class="tab-item" nav-direction="swap" href="#/app/venuMenu">MENU</a>
					<a class="tab-item" nav-direction="swap" href="#/app/venuVideo">VIDEO</a>
					<a class="tab-item "  nav-direction="swap" href="#/app/venuSocial" >SOCIAL</a>

		</div>
	<ion-content class="venu-info-container has-tabs-subheader" style="overflow: scroll;">
		<ion-item class="main-img">
			<div class="item">
				<img class="featured-image" ng-src="{{venue.image_url}}" onerror="this.src='img/no_image.jpg';" alt="" />
				<div class="black-mask"></div>
				<div class="action-btn text-right">
					<button class="button button-clear button-image button-big edit-btn btn"
						ng-click="subscribeVenue($event, venue)">
						<img ng-src="{{venue.subscribed ? 'img/icon-like-active.png' : 'img/icon-like.png'}}" title="{{venue.subscribed ? 'Unsubscribe' : 'Subscribe'}}" />
					</button>
					<button class="button button-icon icon button-favourite"
						ng-class="venue.favorited ? 'ion-ios-heart' : 'ion-ios-heart-outline'"
						ng-click="favoriteVenue($event, venue)">
					</button>
				</div>


				<div class="venu-logo">
					<!--<img src="img/rewards_avtar.png" />-->
					<img ng-src="{{venue.logo_url}}" onerror="this.src='img/avatar.png';" />
					<h2>{{venue.title}}</h2>
					<p class="review">
						<i class="icon ion-android-star {{ venue.rate > 0 ? 'active' : ''}}"></i>
						<i class="icon ion-android-star {{ venue.rate > 1 ? 'active' : ''}}"></i>
						<i class="icon ion-android-star {{ venue.rate > 2 ? 'active' : ''}}"></i>
						<i class="icon ion-android-star {{ venue.rate > 3 ? 'active' : ''}}"></i>
						<i class="icon ion-android-star {{ venue.rate > 4 ? 'active' : ''}}"></i>
					</p>
				</div>

				<div class="rewards-status">
					<p>Offers Rewards: {{venue.offer_rewards == 'yes' ? 'Yes' : 'No'}}</p>
				</div>

				<div class="venu-sub-info">
					<span class="left-part">
						<i class="icon ion-ios-information-outline"></i>
						{{venue.category}}
						&nbsp;&nbsp;
						<i class="icon ion-ios-location-outline"></i>
						{{venue.distance | number: 2}} km
					</span>
					<span class="pull-right">
						<i class="icon ion-record {{venue.isOpened ? 'white-icon' : ''}}"></i>
						{{venue.from_time}} to {{venue.to_time}}
					</span>
				</div>
			</div>
		</ion-item>
		<div class="venu-details">
			<div ng-bind-html="venue.content">
			</div>
			<div class="fab-overlay"></div>
			<div class="fab-menu">
				<circle menuFunHandler="menuFunHandler(data)" config="circularMenuConfig"></circle>
			</div>
		</div>
		<ion-list class="venu-review">
			<ion-item class="review-info">
				<div class="row">
					<div class="col col-50 text-left">Reviews:</div>
					<div class="col col-50 add-comment-btn text-right">
						<div ng-if="!venue.rated" ng-click="review()">
							<span>Write Review</span>
							<img src="img/icon-write-review.png"/>
						</div>
						<div ng-if="venue.rated">
							<span>Rated already</span>
						</div>
					</div>
				</div>
			</ion-item>

			<ion-item class="item-avatar first item-text-wrap review min-height-90"
				ng-repeat="review in venue.reviews">
				<img ng-src="{{review.profile_image_url}}" />
				<h2>
					<div class="row">
						<div class="col col-25">
							{{ review.author }}
						</div>
						<div class="col rattings">
							<i class="icon ion-android-star {{ review.rate > 0 ? 'active' : ''}}"></i>
							<i class="icon ion-android-star {{ review.rate > 1 ? 'active' : ''}}"></i>
							<i class="icon ion-android-star {{ review.rate > 2 ? 'active' : ''}}"></i>
							<i class="icon ion-android-star {{ review.rate > 3 ? 'active' : ''}}"></i>
							<i class="icon ion-android-star {{ review.rate > 4 ? 'active' : ''}}" ></i>
						</div>
						<div class="col text-right">
							{{ review.date }}
						</div>
					</div>
				</h2>
				<p>
					{{ review.content }}
				</p>
			</ion-item>

		</ion-list>
	</ion-content>
	<!-- <div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item"  ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div> -->
</ion-view>
