<ion-view view-title="Vendor Name">
    <ion-content class="home-container" overflow-scroll="true">
        <div>
            <div class="chat-message-box receiver">
                <img src="https://randomuser.me/api/portraits/women/60.jpg" alt="User Name" class="chat-image">
                <div class="talk-bubble tri-right left-in">
                    <div class="talktext">
                        <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
                    </div>
                </div>
                <p class="message-time">SENT 11:20 AM  SEEN 11:25AM</p>
            </div>
            <div class="chat-message-box sender">
                <img src="https://randomuser.me/api/portraits/women/60.jpg" alt="User Name" class="chat-image">
                <div class="talk-bubble tri-right left-in">
                    <div class="talktext">
                        <p>This talk-bubble uses .left-in class to show a triangle on the left slightly indented. Still a blocky square.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="send-tools">
            <input type="text" name="" id="" placeholder="type..." class="messge-box">
            <a>
                <img src="../../img/send.png">
            </a>
        </div>
    </ion-content>
</ion-view>