<ion-view view-title="Map" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-content style="height: 100%;" has-bouncing="false">
		<ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control" full-height>
          <ui-gmap-markers ng-if="events!=null" models="events" coords="'self'" options="eventOption"  idkey="'id'">
          	<ui-gmap-windows show="show">
					<table ng-non-bindable class="infowindow-table">
						<tr>
							<td colspan="2" class="venu-title">
								{{title}}
							</td>
						</tr>
						<tr>
							<td>
								<img src="{{image_url}}" onerror="this.src='img/no_image.jpg';" class="user-img-small" />
							</td>
							<td>
								<div class="user-details">
									<!--{{content}}<a class="read_more">View</a>-->
									{{content | limitTo: 80 }}<a class="read_more">View</a>
								</div>
								<div class="user-details-after" style=" display: none">
									{{content}}<a class="hidemore">Hide</a>
									<!--{{content | limitTo: 80 }}<a class="read_more">View</a>-->
								</div>
								<!--<div class="user-details">
									{{content}}<a class="read_more">View</a>
								</div>-->
							</td>
						</tr>
					</table>
				</ui-gmap-windows>
          </ui-gmap-markers>
        </ui-gmap-markers>
		<div class="gps-div" ng-click="Where_is_me()">
			<img src="img/gps.png" alt="" class="gps-sym">
		</div>
	</ion-content>
</ion-view>