<ion-view view-title="Help" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-content class="has-tabs">

		<ion-list class="rewards-list question-list">

<div ng-repeat="x in que_ans_data">
			<ion-item class="item-icon-left item-button-right parent-item" ng-click="toggleGroup($index)">
				<i class="icon ion-ios-help-outline" style="font-size: 30px;color: #ffbc52;"></i> 
				<h2>{{x.faq_title}}</h2>
				<button class="button button-clear button-positive">
					<i class="icon-arrow-down" ng-if="!isGroupShown($index)"></i>
					<i class="icon-arrow-up" ng-if="isGroupShown($index)"></i>
				</button>
			</ion-item>
			<ion-item class="item-accordion child-item item-text-wrap" ng-show="isGroupShown($index)">
				<p class="note message">{{x.faq_content}}</p>
			</ion-item>
</div>


		</ion-list>
	</ion-content>
</ion-view>