<ion-view view-title="My Rewards">
	<ion-content> {{myVenuesList}}
		<ion-list class="rewards-list">
			<div ng-repeat="venue in venues">
				<ion-item class="item-avatar item-button-right parent-item" ng-click="toggleGroup(venue)">
					<img ng-src="{{venue.mprofile_pic}}"  class="object_fit" />
					<h2 class="app_text_color">{{venue.venue_name}}</h2>
					<p class="my_reward_text">Your Points Earned : <span class="value">{{venue.points_balance}}</span></p>
					<button class="button button-clear button-positive">
						<i class="icon-arrow-down" ng-if="!isGroupShown(venue)"></i>
						<i class="icon-arrow-up" ng-if="isGroupShown(venue)"></i>
					</button>
				</ion-item>

				<ion-item class="item-accordion child-item" ng-show="isGroupShown(venue)">
					<img ng-show="venue.rewards && venue.rewards.length > 0" class="icon-img" src="img/icon-tap.png" />
					<p class="note my_reward_text" ng-show="venue.rewards && venue.rewards.length > 0">Tap the desired reward box to claim your reward</p>
					<p class="note my_reward_text" ng-show="venue.rewards && venue.rewards.length == 0">No rewards founds.</p>
					<div class="row item-grid padding_0" style="overflow-x: auto">
						<div class="col col-50" ng-click="rewardClicked(reward, venue)"
							ng-repeat="reward in venue.rewards">
							<div class="card" 
								ng-style="{'background': 'url(http://wecheck.co.za/rewards/index.php/api/get_reward_image/{{reward._id}})', 'background-size': 'cover'}">
								<div class="mask text-center">
									<p class="center" style="color: white">{{reward.title}}</p>
								</div>
							</div>
							<p class="text-center my_reward_text app_text_color">Points required : <span class="app_text_color"> {{reward.required_points}}</span></p>
						</div>
					</div>
				</ion-item>
			</div>
		</ion-list>
		<div ng-if="venues==null || venues.length<=0" class="no_data">
			No reward avilable
		</div>
	</ion-content>
</ion-view>