<ion-view>
	<ion-content class="login-bg">
		<div set-full-height>
			<div class="login-container">
				<div class="main-logo">
					<img src="img/Newlogo.png" style="width: 35%;" />
				</div>
				<h2 class="title" style="color:#e3b830;">Wed Wise</h2>
				<br />
				<!-- <form name="loginForm" ng-submit="doLogin(user)" novalidate>
					<div class="login-form">
						<label class="item item-input item-floating-label">
							<span class="input-label">Email</span>
							<input type="email" placeholder="Email" class="bg-icon-user" name="email" ng-model="user.email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{1,}[a-zA-Z]$/">
						</label>
						<div class="form-error" ng-show="loginForm.email.$dirty && loginForm.email.$error.required">
							Email is required.
						</div>
						<div class="form-error" ng-show="loginForm.email.$dirty && (loginForm.email.$error.pattern || loginForm.email.$error.email)">
							Email is invalid.
						</div>
						<label class="item item-input item-floating-label">
							<span class="input-label">Password</span>
							<input type="password" placeholder="Password" class="bg-icon-lock" name="password" ng-model="user.password"
	            required>
	          </label>
	          <div class="form-error" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">
	          	Password is required.
	          </div>
	          <div class="action-btn">
	          	<button class="button button-full button-login" type="submit" ng-disabled="loginForm.$invalid">
								LOGIN
							</button>
							<center><a ui-sref="forgotpassword" style="text-align:center; color: #999b9d; text-decoration:none;font-size:12px;">Forgot Password?</a></center>
							<a class="button button-clear button-signup"  href="#/default/signup">
								SIGN UP
							</a>
						</div>
					</div>
				</form>
				<div class="social-login">
					<p>OR CONNECT USING</p>
					<div class="row">
						<div class="col col-50">
							<button ng-click="facebookSignIn()" class="button button-clear button-fb-login">
							</button>
						</div>
						<div class="col col-50">
							<button ng-click="fnwechatlogin()" class="button button-clear button-wc-login">
							</button>
						</div>
					</div>
				</div>
			 -->
			 
				<button ng-click="openModallogin()" class="button button-full button-login" style="background:#e3b830;width: 80%;color:#1f1906;border-radius:50px;padding: 0;min-height: 45px !important;height: 45px;border: none !important;margin: 0 auto;color: #FFF;">LOGIN</button>
				<p class="text-center" style="padding:15px 0;font-size: 20px;">or</p>
				<button ui-sref="default.signup" class="button button-full button-login" style="background:none !important;width: 80%;color:#fff;border-radius:50px;padding: 0;min-height: 45px !important;height: 45px;border:1px solid #fff !important;margin: 0 auto;">CREATE AN ACCOUNT</button>
			</div>
		</div>
	</ion-content>
</ion-view>