<ion-view view-title="{{event.title}}">
	<ion-content class="venu-info-container has-tabs">
		<ion-item class="main-img">
			<div class="item">
				<img class="featured-image" ng-src="{{event.image_url}}" onerror="this.src='img/no_image.jpg';" alt="" />
				<div class="black-mask"></div>
				<div class="action-btn text-right">
					<button class="button button-clear button-image button-big edit-btn btn"
							ng-click="subscribeEvent($event, event)">
						<img ng-src="{{event.subscribed ? 'img/icon-like-active.png' : 'img/icon-like.png'}}" title="{{event.subscribed ? 'Unsubscribe' : 'Subscribe'}}" />
					</button>
					<button class="button button-icon icon button-favourite"
							ng-class="event.favorited ? 'ion-ios-heart' : 'ion-ios-heart-outline'"
							ng-click="favoriteEvent($event, event)">
					</button>
				</div>

				<div class="venu-logo event-info">
					<h2>{{event.title}}</h2>
					<div class="event-date">
						<img src="img/icon-calendar-white.png" />
						<span>{{event.date}}</span>
					</div>
				</div>

				<div class="venu-sub-info">
					<span class="left-part">
						<i class="icon ion-ios-information-outline"></i>
						{{event.category}}
						&nbsp;&nbsp;
						<i class="icon ion-ios-location-outline"></i>
						{{event.distance | number: 2}} km
					</span>
					<span class="pull-right">
						<i class="icon ion-record {{event.isOpened ? 'white-icon' : ''}}"></i>
						{{event.from_time}} to {{event.to_time}}
					</span>
				</div>
			</div>
		</ion-item>
		<div class="venu-details">
			<div ng-bind-html="event.content">
			</div>
			<div class="fab-overlay"></div>
			<div class="fab-menu">
				<circle menuFunHandler="menuFunHandler(data)" config="circularMenuConfig"></circle>
			</div>
		</div>
		<!--<ion-list class="attending-list">
			<ion-item class="item-avatar" ng-repeat="item in event.subscribers">
				<img ng-src="{{item.profile_image_url}}" />
				<h2>&lt;{{item.name}}&gt; is attending</h2>
			</ion-item>
		</ion-list>-->
	</ion-content>
	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div>
</ion-view>