<ion-view view-title="Message" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
       	<a class="button button-clear button-image button-big edit-btn btn search_btn"  href="#/app/filter">
			<i  class="ion-funnel">	</i>
		</a>
    </ion-nav-buttons>
    <ion-content class="home-container has-tabs">
        <!--<div class="row">
            <div class="col slider-container">
                <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
                    <ion-slide-page ng-repeat="item in homepageSliders">
                        <div class="slide-img">
                            <img ng-src="{{item}}" alt="No Image" />
                        </div>
                    </ion-slide-page>
                </ion-slides>
                <div class="slider-mask"></div>
            </div>
        </div>-->

        <!--<div class="row home-grid">
            <div class="col col-50">
                <div class="card" style="background: url('img/home-item-1.jpeg'); background-size: cover;">
                    <div class="mask">
                        <p>What's New</p>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card" style="background: url('img/home-item-2.jpg'); background-size: cover;">
                    <div class="mask">
                        <p>Trending</p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="card" ng-if="events.length!=0">
            <h2 class="text-center">Coming Soon</h2>
        </div>

       <!--  <div class="row home-list" ng-repeat="event in events">
            <div class="col">
                <div class="list-img" ng-click="viewEventInfo(event)">
                    <img ng-src="{{event.image_url}}" alt="No image" />
                    <button class="button button-icon icon button-favourite"
                            ng-class="event.favorited ? 'ion-ios-heart' : 'ion-ios-heart-outline'">
                    </button>
                    <div class="list-info">
                        <div class="row">
                            <div class="col">
                                <div class="name">
                                    <span>{{event.title}}</span>
                                    &nbsp;&nbsp;
                                </div>
                                <div class="details margin-top-8">
                                    <i class="icon ion-ios-information-outline"></i>
                                    {{event.category}}
                                    &nbsp
                                    <i class="icon ion-ios-location-outline"></i>
                                    {{event.distance | number: 2}} km
                                </div>
                            </div>
                            <div class="col-6 text-center center">
                                <img src="img/icon-calendar-white.png" style="width: 27px; height: auto;"/> <br/>
                                {{event.date}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
<div class="no-data-found" ng-if="events.length<=0">No data found</div>
       
    </ion-content>
</ion-view>