@font-face {
  font-family: 'LibreBaskerville-Bold';
  /*a name to be used later*/
  src: url('../fonts/Champagne & Limousines Bold.ttf');
  /*URL to font*/
}

@font-face {
  font-family: 'roboto-regular';
  /*a name to be used later*/
  src: url('../fonts/Champagne & Limousines.ttf');
  /*URL to font*/
}

@font-face {
  font-family: 'wask-new';
  /*a name to be used later*/
  src: url('../fonts/Champagne & Limousines.ttf');
  /*URL to font*/
}

.no_padding {
  padding: 0 !important;
}

.view-container {
  font-family: 'roboto-regular';
}

.button.button-icon.activated {
  opacity: 1;
}

.button-clear.button-image {
  min-height: 26px;
  line-height: 16px;
  min-width: 30px;
  padding: 0;
}

.button-image img {
  width: 20px;
}

.button-image.button-big img {
  width: 25px;
}

.has-tabs {
  bottom: 52px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.pull-right {
  float: right;
}

i.white-icon {
  color: #ffffff;
}

i.black-icon {
  color: #000000;
}

.login-bg {
  background: url('../img/screen.png') no-repeat;
  background-size: cover;
  background-position: 86%;
}

.login-container {
  position: absolute;
  bottom: 0;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  text-align: center;
}

.signup-container {
  position: absolute;
  bottom: 0;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  text-align: center;
}

.signup-container h2 {
  color: #ffffff;
  font-family: 'wask-new';
  margin: 0;
  font-size: 40px;
  margin-bottom: 15px;
}

.signup-container .image-section {
  margin-top: 30px;
  background: #ffbc52;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
}

.signup-container .image-section .icon {
  width: 50px;
  margin-top: 28px;
}

.login-container .title {
  color: #d4d4d4;
  font-family: 'wask-new';
  font-size: 3em;
  margin-top: 5px;
}

.login-container .main-logo img {
  width: 20%;
}

.signup-container .small-logo img {
  width: 50px;
}

.login-form .item {
  border: none;
  padding: 0;
}

.login-form .item .input-label {
  width: auto;
  color: #d4d4d4;
}

.login-form .item input {
  border-bottom: 1px solid rgba(212, 212, 212, 0.30);
  color: #d4d4d4;
  background-size: 14px;
}

.login-form .item input:focus {
  border-bottom: 2px solid #ffffff;
}

.bg-icon-user {
  background: url(../img/icon-user.png) right 8px center no-repeat;
}

.bg-icon-mail {
  background: url(../img/icon-email.png) right 8px center no-repeat;
}

.bg-icon-lock {
  background: url(../img/icon-lock.png) right 8px center no-repeat;
}

.bg-icon-email {
  background: url(../img/icon_email.png) right 8px center no-repeat;
}

.bg-icon-mobile {
  background: url(../img/icon-mobile.png) right 8px center no-repeat;
}

.bg-icon-search {
  background: url(../img/icon-search.png) right 8px center no-repeat;
  background-size: contain;
}

.login-form .action-btn {
  padding: 20px 0 0 12px;
}

.button.button-login {
  background: #ffbc52;
  color: #ffffff;
}

.button.button-signup {
  color: #dddddd;
  text-decoration: underline;
  width: 100%;
}

.social-login p {
  color: #d4d4d4;
  font-size: 14px;
  position: relative;
  display: inline-block;
}

.social-login p:before, .social-login p:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 1px solid rgba(71, 74, 80, 0.5);
  /*border-top: 1px solid white;*/
  top: 0;
  width: 60px;
}

.social-login p:before {
  right: 100%;
  margin-right: 15px;
}

.social-login p:after {
  left: 100%;
  margin-left: 15px;
}

.social-login .row {
  margin: auto;
  width: 75%;
}

.social-login .row .col:first-child {
  border-right: 1px solid rgba(71, 74, 80, 0.8);
}

.button-clear.button-fb-login {
  background: url('../img/icon-fb.png') no-repeat center;
  background-size: contain;
}

.button-clear.button-wc-login {
  background: url('../img/google-plus.png') no-repeat center;
  background-size: cover;
  width: 60px;
}

.signup-info-text {
  color: #d4d4d4;
  font-size: 16px;
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
}

.signup-info-textforgot {
  color: #d4d4d4;
  font-size: 16px;
  /*width: 75%;*/
  margin: auto;
  /*padding-bottom: 20px;*/
}

.has-clear-header {
  top: 0;
}


/*====> Menu css <====*/

.sidebar-profile-box {
  background: #ffbc52;
  color: #ffffff;
  background-size: cover;
  /*height: 100px;*/
  min-height: 100px;
  position: relative;
}

.sidebar-profile-box .title {
  margin: 0;
  color: #ffffff;
}

.gradine-menu {
  background: #00c6ff;
  background: -webkit-linear-gradient(to top, #00c6ff, #0072ff);
  background: linear-gradient(to top, #00c6ff, #0072ff);
}

.menu {
  background: white;
}

.menu-list {
  background: transparent;
}

.menu-list .item, .menu-list .item-content {
  border: none;
  background: transparent;
  color: #6d6d6d;
  align-items: center;
  display: flex;
}

.menu-list .item-complex .item-content {
  padding: 15px 49px 15px 20px;
  width: 100%;
}

.sidebar .profile-image {
  border-radius: 50%;
  width: 60px;
  height: 61px;
  object-fit: cover;
  /*border: 1px solid rgba(255, 255, 255, 1);*/
  /*padding: 5px;*/
  /*position: relative;*/
  position: absolute;
  top: 15px;
}

.fluid-image {
  vertical-align: top;
  height: 400px;
  margin: 0 auto;
  display: block;
}

.menu-list i {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-size: contain;
  margin-right: 20px;
}

.rewards-list ion-item p {
  color: #1f1d1d;
}

.rewards-list ion-item p.date-time {
  font-size: 10px;
  color: #beb8b8;
}

.rewards-list ion-item p .value {
  color: #ffbc52;
}

.rewards-list ion-item .button-clear {
  margin: 20px 0 0 0;
}

.rewards-list ion-item i {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
}

.icon-chat {
  background: url(../img/chat.png) no-repeat center;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}

.icon-email {
  background: url(../img/email.png) no-repeat center;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}

.icon-call {
  background: url(../img/call.png) no-repeat center;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}

.icon-diraction {
  background: url(../img/diraction.png) no-repeat center;
  display: inline-block;
  height: 30px;
  width: 36px;
  margin: -3px;
  background-size: contain;
}

.icon-arraow {
  background: url(../img/arraow.png) no-repeat center;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
}

.icon-home {
  background: url(../img/icon-home1.png) no-repeat center;
}

.icon-restaurants {
  background: url(../img/search1.png) no-repeat center;
}

.icon-nightlife {
  background: url(../img/check.png) no-repeat center;
}

.icon-accommodation {
  background: url(../img/list.png) no-repeat center;
}

.icon-events {
  background: url(../img/message.png) no-repeat center;
}

.icon-rewards {
  background: url(../img/setting.png) no-repeat center;
}

.icon-help {
  background: url(../img/icon-help.png) no-repeat center;
}

.icon-settings {
  background: url(../img/icon-settings.png) no-repeat center;
}

.icon-logout {
  background: url(../img/logout.png) no-repeat center;
}

.icon-tab-home {
  background: url(../img/icon-tab-home.png) no-repeat center;
}

.icon-tab-qrcode {
  background: url(../img/icon-tab-qrcode.png) no-repeat center;
}

.icon-tab-search {
  background: url(../img/icon-tab-search.png) no-repeat center;
}

.icon-tab-mail {
  background: url(../img/icon-tab-mail.png) no-repeat center;
}

.icon-tab-places {
  background: url(../img/icon-tab-places.png) no-repeat center;
}

.icon-arrow-down {
  background: url(../img/icon-arrow-down.png) no-repeat;
}

.icon-arrow-up {
  background: url(../img/icon-arrow-up.png) no-repeat;
}

.icon-write-review {
  background: url(../img/icon-write-review.png) no-repeat center;
}

.icon-calendar-white {
  background: url(../img/icon-calendar-white.png) no-repeat center;
}

.event-date i {
  display: inline-block;
  height: 28px;
  width: 28px;
  background-size: contain;
  margin-top: 2px;
}

.bg-container {
  background: url('../img/home-bg.png') no-repeat;
  background-size: cover;
}

.bar.bar-clear .button.button-black {
  color: #000000;
}

.button.button-custom {
  background-color: #ffbc52;
  color: #FFFFFF;
}

.bar.bar-custom {
  background-color: #ffbc52;
  color: #ffffff;
}

.bar-custom .button.button-clear {
  box-shadow: none;
  color: #fff;
  font-size: 17px;
}

ion-slides {
  height: 28vh !important;
}

.slide-img img {
  width: 100%;
  height: 100%;
}

.home-container .slider-container {
  position: relative;
}

.home-container .slider-container .slide-img {
  height: 28vh;
  width: 100%;
  background-position: 50%;
}

.home-grid .col {
  padding: 0 5px;
}

.home-grid .col .card {
  margin: 0;
  height: 140px;
}

.home-list .list-img {
  position: relative;
  height: 250px;
}

.home-list .list-img img {
  width: 100%;
  height: 100%;
}

.home-list .list-img .list-info {
  height: 70px;
  width: 100%;
  background: #ffbc52;
  position: absolute;
  bottom: 0;
  color: #ffffff;
}

.home-list .list-img .list-info .name p {
  font-size: 16px;
  display: inline-block;
}

.home-list .list-img .list-info .name i {
  color: #2a323a;
}

.home-list .list-img .list-info .name i.active {
  color: #ffc107;
}

.home-list .list-img .list-info i {
  color: #ffc107;
}

.home-list .list-img .button-favourite {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
}

.home-list .list-img .list-info .event-date {
  padding: 0;
  text-align: center;
}

.home-list .list-img .list-info .event-date i {
  font-size: 35px;
  color: #ffffff;
}

.home-list .list-img .list-info .event-date p {
  margin: 0;
  font-size: 12px;
}

.mask {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.rewards-list ion-item .mask p {
  color: #ffffff;
}

.mask p {
  color: #ffffff;
  margin: 0;
  padding: 10px;
}

.footer-tab {
  padding: 8px 0;
  height: 50px;
}

.footer-tab i {
  display: inline-block;
  height: 27px;
  width: 27px;
  background-size: contain;
  margin-right: 10px;
}

.rewards-list .child-item .icon-img {
  width: 22px;
}

.rewards-list .child-item p.note {
  display: inline-block;
  margin: 0;
  line-height: 20px;
}

.item-grid .col .card {
  margin: 0;
  height: 100px;
}

.item-grid .mask p {
  padding: 40px 0;
}


/*====> Accordion CSS <====*/

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  border: none;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.venu-info-container .main-img {
  padding: 0;
}

.venu-info-container .main-img .item {
  position: relative;
  height: 350px;
  padding: 0;
}

.venu-info-container .main-img .featured-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item.tab-items {
  border-bottom: 0;
  padding: 15px 0;
  width: 100%;
}

.bar-subheader.tabs-bar {
  height: 55px;
  padding: 0;
}

.has-tabs-subheader {
  top: 100px;
}

.venu-tabs {
  padding: 0;
  /*padding-bottom: 10px;*/
  background: #ffbc52;
}

.venu-tabs a {
  color: white !important;
}

.venu-tabs .active {
  color: white !important;
}


/*.venu-info-container .venu-tabs {
	position: absolute;
	top: 0;
	background: rgba(255, 255, 255, 0.1);
}*/

.venu-tabs .col {
  padding: 0;
  text-align: center;
}

.venu-tabs a {
  color: #968f8f;
  text-decoration: none;
  font-weight: 500;
}

.venu-tabs a.active {
  border-bottom: 3.5px solid white;
  /*padding-bottom: 2px;*/
  font-weight: bold;
}

.venu-info-container .black-mask {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.venu-info-container .main-img .venu-logo {
  position: absolute;
  text-align: center;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.venu-info-container .main-img .venu-logo.event-info {
  text-align: left;
  width: 85%;
}

.venu-info-container .main-img .venu-logo img {
  width: 100px;
  border-radius: 50%;
}

.venu-info-container .main-img .venu-logo.event-info .event-date {
  color: #FFFFFF;
  margin: 30px 0;
}

.venu-info-container .main-img .venu-logo.event-info .event-date img {
  width: 40px;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 0px;
}

.venu-info-container .main-img .venu-logo h2 {
  color: #ffffff;
  font-size: 18px;
  font-family: 'LibreBaskerville-Bold';
  padding-top: 15px;
}

.venu-info-container .main-img .event-info h2 {
  font-family: 'roboto-regular';
}

.venu-info-container .main-img .rewards-status {
  position: absolute;
  bottom: 60px;
  right: 15px;
}

.venu-info-container .main-img .rewards-status p {
  color: #ffffff;
}

.venu-info-container .main-img .review i {
  color: #ffffff;
}

.venu-info-container .main-img .review i.active {
  color: #ffc107;
}

.venu-info-container .main-img .venu-sub-info {
  position: absolute;
  bottom: 0;
  background: #ffbc52;
  color: #ffffff;
  font-size: 12px;
  padding: 15px 4%;
  width: 100%;
}

.venu-info-container .main-img .venu-sub-info i {
  color: #ffc107;
  font-size: 14px;
  margin-right: 2px;
}

.venu-info-container .main-img .venu-sub-info i.white-icon {
  color: #17ab1a;
}

.venu-info-container .venu-details {
  padding: 15px;
  text-align: center;
}

.venu-info-container .venu-details .add-comment-btn.button-icon.icon:before {
  font-size: 50px;
}

.venu-info-container .venu-details p {
  font-size: 16px;
  color: #000000;
}

.venu-info-container .venu-details p.small-text {
  font-size: 12px;
}

.venu-info-container .venu-details img {
  width: 250px;
}

.venu-review .review-info {
  padding: 0 16px;
  color: #ffbc52;
  border-color: rgba(128, 0, 0, 0.5);
}

.venu-review .item:first-child {
  border-bottom: 0;
}

.item.first {
  border-top: 0;
}

.review-info .button.button-clear {
  color: #ffbc52;
}

.divider-row {
  padding: 0 20px;
  color: #ffbc52;
}

.divider-row .divider-item {
  font-size: 16px;
}

.divider-row .divider-item .count {
  font-size: 12px;
  color: #c0c0c0;
}


/*======gallery grid view css======*/

.gallery-grid-view {
  text-align: center;
  margin: 10px 0;
}

.gallery-grid-view ul li {
  display: inline-block;
  margin: 0 1px 2px 3px;
}

.gallery-grid-view ul li a>span.image {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: 50% 25%;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 500ms;
  display: block;
  position: relative;
  margin: 0 auto;
  background-image: url(../img/no_image.png);
}

.gallery-grid-view ul li a>span.image p {
  display: block !important;
  position: absolute;
  bottom: -10px;
  right: 0px;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}


/*======End css======*/

.add-photo-btn img {
  vertical-align: middle;
  width: 25px;
}

.add-comment-btn img {
  width: 30px;
  vertical-align: middle;
}

.venu-review .item-avatar p {
  color: #000000;
  font-size: 12px;
}

.venu-review .item-avatar>img:first-child {
  left: 10px;
  max-width: 65px;
  max-height: 65px;
}

.main-img .action-btn {
  margin: 10px;
}

.action-btn .btn {
  width: 25px;
  margin: 10px 5px;
}

.button-icon.button-favourite {
  color: #FFFFFF;
}

.venu-review .review {
  padding-right: 5px;
  padding-left: 80px;
  border-color: rgba(128, 0, 0, 0.5);
}

.venu-review .review .col {
  padding: 0;
}

.venu-review .review .rattings i {
  color: #968f8f;
}

.venu-review .review .rattings i.active {
  color: #ffc107;
}

.social-feeds .feed {
  border: 0;
}

.social-feeds .feed.has-image {
  padding-bottom: 0;
}

.social-feeds .item.item-image {
  border: 0;
  padding: 15px;
}

.social-feeds .feed .time {
  font-size: 12px;
  float: right;
  color: #999999;
}

.social-feeds .feed .desc {
  padding-top: 5px;
}

.social-feeds .feed .desc a {
  text-decoration: none;
}

.player {
  position: relative;
}

.player .control {
  position: absolute;
}

.player .play-btn {
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}

.player .progress-bar {
  bottom: 80px;
}

.player .main-control {
  bottom: 0;
  width: 180px;
  margin: 0 auto;
  top: 84%;
  left: 0;
  right: 0;
}

.player .main-control span {
  padding-right: 40px;
}

.player .main-control .play-pause-btn img {
  width: 50px;
}

.player .main-control span img.fw-bc {
  width: 20px;
  height: 20px;
}

.player .volume {
  bottom: 30px;
  right: 25px;
}

.player .volume img {
  width: 25px;
}

.player .video-title {
  top: 15px;
  left: 15px;
  color: #ffffff;
  font-size: 18px;
}

.player .video-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}

.fab-menu {
  position: relative;
}

.fab-menu .button-fab {
  position: absolute;
}


/*======= Fab button menu css =======*/

.circle-container {
  position: relative;
  height: 15em;
}

.circle-container a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 52%;
  width: 3em;
  height: 3em;
  margin: -2em;
  text-align: center;
  background: #ff0000;
  border-radius: 50%;
  line-height: 45px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.deg0 {
  transform: translate(5em);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.deg45 {
  transform: rotate(45deg) translate(5em) rotate(-45deg);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.deg90 {
  transform: rotate(90deg) translate(5em) rotate(-90deg);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.deg135 {
  transform: rotate(135deg) translate(5em) rotate(-135deg);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.deg180 {
  transform: translate(-5em);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.deg225 {
  transform: rotate(225deg) translate(5em) rotate(-225deg);
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.deg270 {
  transform: rotate(270deg) translate(5em) rotate(-270deg);
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.deg315 {
  transform: rotate(315deg) translate(5em) rotate(-315deg);
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  transition-delay: 0.8s;
}


/*======= End fab menu css =======*/


/*======= Fab button with animation css =======*/

.fab-button {
  position: relative;
}

.add-button {
  position: absolute;
  right: 100px;
  bottom: -28px;
  width: 56px;
  height: 56px;
  overflow: visible;
  -webkit-transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46), color 0s ease .4s, font-size .2s;
  -moz-transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46), color 0s ease .4s, font-size .2s;
  transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46), color 0s ease .4s, font-size .2s;
  text-align: center;
  line-height: 56px;
  font-size: 28px;
  color: rgba(255, 255, 255, 1);
}

.add-button:before {
  position: relative;
  z-index: 100;
  content: "+";
}

.add-button:hover {
  color: rgba(255, 255, 255, 0);
  transform: rotate(45deg);
}

.sub-button {
  position: absolute;
  display: inline-block;
  background-color: #ff4081;
  color: rgba(255, 255, 255, 0);
  width: 28px;
  height: 28px;
  line-height: 48px;
  font-family: "FontAwesome";
  font-size: 12px;
  -webkit-transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, transform .1s ease 0s, border-radius .2s ease .2s;
  -moz-transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, transform .1s ease 0s, border-radius .2s ease .2s;
  transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s, transform .1s ease 0s, border-radius .2s ease .2s;
}

.tl {
  top: 0;
  left: 0;
  border-radius: 28px 0 0 0;
}

.tr {
  top: 0;
  right: 0;
  border-radius: 0 28px 0 0;
}

.bl {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 28px;
}

.br {
  bottom: 0;
  right: 0;
  border-radius: 0 0 28px 0;
}

.tl:before {
  content: "D";
}

.tr:before {
  content: "A";
}

.bl:before {
  content: "C";
}

.br:before {
  content: "B";
}

.add-button:hover .sub-button {
  width: 48px;
  height: 48px;
  transform: rotate(-45deg);
  color: rgba(255, 255, 255, 1);
  -webkit-transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, color .3s ease .8s, transform .3s ease .8s, border-radius .4s ease .6s;
  -moz-transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, color .3s ease .8s, transform .3s ease .8s, border-radius .4s ease .6s;
  transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s, color .3s ease .8s, transform .3s ease .8s, border-radius .4s ease .6s;
}

.add-button:hover .tl {
  top: -25px;
  left: -25px;
  border-radius: 28px;
}

.add-button:hover .tr {
  top: -25px;
  right: -25px;
  border-radius: 28px;
}

.add-button:hover .bl {
  bottom: -25px;
  left: -25px;
  border-radius: 28px;
}

.add-button:hover .br {
  bottom: -25px;
  right: -25px;
  border-radius: 28px;
}


/*======= End fab css =======*/


/*======= Video player css =======*/

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }
}


/*======= End player css =======*/

.infowindow-table tr td {
  vertical-align: middle;
  padding: 5px;
}

.infowindow-table p {
  margin: 0;
}

.infowindow-table .venu-title {
  padding: 2px 10px;
  border-bottom: 2px solid #e2e2e2;
  color: #ffbc52;
}

.infowindow-table .user-details {
  line-height: 12px;
  font-family: 'roboto-regular';
  color: #6a6b6b;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infowindow-table .user-details .link {
  color: #ffbc52;
}

.user-img-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search-container {
  position: absolute;
  width: 100%;
  height: 10%;
}

.search-container.active-search {
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  height: 100%;
  position: fixed;
}

.search-container.active-search ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
  opacity: 1;
}

.search-container.active-search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}

.search-container.active-search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}

.search-container.active-search :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
  opacity: 1;
}

.search-container .list .item {
  border: none;
  padding: 0 25px;
}

.search-container .list .item .search-input {
  border-bottom: 2px solid #ffffff;
  background-size: 14px;
  color: #ffffff;
}

.m .btn.trigger .line:after {
  height: 0;
}

.m.active .btn.trigger .line:after {
  height: 6px;
}

.m .btn.trigger .line:before {
  left: 18px;
  width: 6px;
  height: 39px;
  top: -16px;
}

.m.active .btn.trigger .line:before {
  left: 0;
  width: 100%;
  height: 6px;
}

.profile-row {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.profile-row .col {
  position: relative;
}

.profile-row .profile-pic-col {
  margin: 10px;
}

.profile-row .profile-pic-col .profile-pic {
  width: 60px;
  height: 61px;
  border-radius: 50%;
}

.profile-row .profile-details-col {
  padding: 0;
  margin: 0;
}

.profile-row .profile-pic-col .edit-btn {
  position: absolute;
  bottom: 0;
  /*right: -10px;*/
}

.profile-row .col .user-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 70px;
}

.profile-row .col .user-details h3, .profile-row .col .user-details h4 {
  color: #868686;
  font-family: 'roboto-regular';
  margin: 2px 0;
  display: inline-block;
}

.divider {
  width: 90%;
  border-top: 1px solid #f2f2f1;
  margin: 0 20px;
}

.profile-info-row .info {
  margin: 20px 0;
  padding: 10px;
}

.profile-info-row .info.border-right {
  border-right: 1px solid #ffcccc;
}

.profile-info-row .info img {
  width: 50px;
}

.profile-info-row .info p {
  font-size: 14px;
  color: #9D9D9D;
}

.profile-info-row .info p.count {
  font-size: 20px;
  color: #ffbc52;
}

.rewards-list .child-item p.note.message {
  margin: 10px;
}

.attending-list .item h2 {
  line-height: 40px;
  color: #000000;
}


/*========== Select popup css ==========*/

.fancy-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #f9f9f9;
  background: #f9f9f9;
  background-image: linear-gradient(45deg, transparent 50%, #C2185B 50%), linear-gradient(135deg, #C2185B 50%, transparent 50%), radial-gradient(#F8BBD0 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  color: #212121;
}

.popup-select .popup {
  border-radius: 15px;
}

.popup-select .popup .popup-head {
  background: #ffbc52;
  border-radius: 15px 15px 0 0;
  border: none;
}

.popup-select .popup .popup-head h3 {
  color: #FFFFFF;
}

.popup-select .popup .popup-body {
  padding: 0 1px;
}


/*======== End Select popup css ========*/

.search-option-list .item {
  border: none;
}

.toggle.toggle-custom input:checked+.track {
  border-color: #ffbc52;
  background-color: #ffbc52;
}

.modal.transparent-modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.write-review-modal {
  background: #2f2f2f;
}

.question-list .item h2 {
  margin: 10px 0px 2px 0;
}

.write-review-list .item-input {
  padding: 10px 0 30px 35px;
  border: none;
}

.write-review-list .item-input .input-label {
  color: #FFFFFF;
}

.write-review-list .item-input .review-title {
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 90%;
  color: #fff;
}

.write-review-list .item-input .review {
  background: transparent;
  border: 1px solid #fff;
  width: 90%;
  color: #fff;
  margin-top: 10px;
}

.write-review-list .item-input .button.button-block {
  width: 90%;
  background-color: #ffbc52;
  color: #FFFFFF;
}


/* New CSS DEVELOPER : RaJesh RaJput */

.form-error {
  color: #e3b830;
  font-size: 13px;
  margin-left: 15px;
  text-align: left;
}

.icon1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

ion-item .message-content {
  transition: all 2s;
}

ion-item.message button {
  transition: all 2s;
}

ion-item .message-content.full {
  overflow: visible;
  white-space: normal;
}

.new-message {
  margin-left: 20px;
  font-size: 0.7em;
  background-color: #ffbc52;
  color: white;
  padding: 0px 10px;
}

pdf-viewer-toolbar a {
  font-size: 12px !important;
}

div.title.header-item {
  left: 0px !important;
  right: 0px !important;
  text-align: center !important;
}

.fab-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: -2000px;
  background: #ccc;
  z-index: 3;
  transition: all 2s;
  opacity: 0.8;
  display: none;
}

.m.active .fab-overlay {
  display: block;
  transition: all 2s;
}

.btn-del-message {
  font-size: 14px;
  float: right;
}

.tab-item-inbox {
  position: relative;
}

.badge-mail-count {
  position: absolute;
  right: 18px;
  top: 0;
  background: #ffbc52 !important;
}

.active .modal-backdrop-bg {
  opacity: 0.9 !important;
  background: #ccc !important;
}


/*========================================================================================================================*/

.loading {
  padding: 45px 70px !important;
  /*  background-color: #ffbc52 !important;
    border-radius: 5% !important;*/
}

.loading p {
  font-size: 14px;
  margin: 7px 0px 0px 0;
}

.spinner {
  stroke: #ffbc52;
  fill: #ffbc52;
}

.search_btn {
  padding: 5px !important;
}

.search_btn i {
  font-size: 23px;
}

.profile_image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 30px;
}

.profile_name {
  color: #868686;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}

.profile_location {
  text-align: center;
  color: #868686;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
}

.profile_count {
  margin-top: 20px;
}

.profile_count .row div, {
  margin: auto;
  color: white;
}

.profile_count .row div v {
  font-size: 24px;
  vertical-align: super;
  padding-left: 8px;
}

.profile_count .col div {
  margin: auto;
  color: white;
  text-align: center;
}

.profile_divider {
  width: 2.1px;
  background: rgba(255, 255, 255, 0.28);
  margin-top: 10px;
  margin-bottom: 10px;
}

.no_data {
  padding-top: 65%;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: #a09e9e;
}

.object_fit {
  object-fit: cover !important;
}

.my_reward_text {
  font-size: 12px;
  /*letter-spacing: normal;*/
}

.padding_0 {
  padding: 0 !important;
}

.social_background {
  background: rgba(128, 128, 128, 0.16);
}

.min-height-90 {
  min-height: 90px;
}


/* Empty. Add your own CSS if you like */

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: transparent !important;
}

.fullscreen-image {
  max-width: 95%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.slider {
  width: 100%;
  height: 100%;
}

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
}

.centerme {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.fullscreen-player {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: none;
  position: fixed;
  right: 0;
  top: 0;
}

.codereward_dialog .popup {
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.codereward_dialog .popup .popup-body input {
  margin: 15px 0px;
  border-bottom-color: #ffbc52;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: #ffbc52;
}

.codereward_dialog .popup .popup-buttons .button-positive {
  background: #ffbc52;
  color: white;
}

.codereward_dialog .popup .popup-buttons button {
  border-radius: 5px;
}

.active .modal-backdrop-bg {
  background-color: rgba(0, 0, 0, 0) !important;
}

.modal_gallery {
  background-color: rgba(0, 0, 0, 0.20) !important;
}

.centerme {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.fullscreen-player {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: none;
  position: fixed;
  right: 0;
  top: 0;
}

ion-slide ion-scroll {
  overflow: auto !important;
}

.video::-webkit-media-controls-fullscreen-button, .video::-webkit-media-controls-play-button, .video::-webkit-media-controls-pausebutton, .video::-webkit-media-controls-downloadbutton {
  display: none;
}

.bar {
  border-bottom: 0px solid transparent !important;
  background-size: 100% 0px !important;
  border: none;
  background-image: none;
  background-position: bottom;
  background-size: 100% 1px !important;
  background-repeat: no-repeat;
}

.search_icon {
  font-size: 25px;
}

.search_input {
  padding-bottom: 2px;
}

.help_img {
  width: 30px !important;
  height: 30px !important;
  margin: 6px !important;
}

.toggle-switch {
  border: none;
  padding: 0;
}

.no-data-found {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: calc(100% - 100px);
}

.tab-item .badge {
  position: absolute;
  /* top: 0px; */
  margin-top: 0px;
  /* bottom: 55%; */
  right: 33%;
  right: calc(50% - 17px);
  padding: 1.5px 6px;
  height: auto;
  font-size: 11px;
  line-height: 16px;
}

.badge {
  background-color: transparent;
  color: #AAAAAA;
  z-index: 1;
  display: inline-block;
  padding: 3px 8px;
  min-width: 10px;
  border-radius: 50%;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}


/*.mypdfviewer canvas{
		width: 100%;
    	height: 100%;
	}*/

.no_video {
  padding-top: calc(50% - 80px);
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: #a09e9e;
}

.gps-div {
  position: fixed;
  bottom: 125px;
  right: 1%;
  background: #fff;
  height: 45px;
  width: 45px;
  padding-left: 13px;
  padding-top: 12px;
  border-radius: 50%;
  border: 0.5px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
}

.gps-div-direction {
  position: fixed;
  bottom: 16px;
  right: 1%;
  background: #fff;
  height: 45px;
  width: 45px;
  padding-left: 13px;
  padding-top: 12px;
  border-radius: 50%;
  border: 0.5px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
}

.gps-sym {
  height: 18px;
  width: 18px;
}

.mask-25 {
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 8px;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.col-19 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 19%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 19%;
  -ms-flex: 0 0 19%;
  flex: 0 0 19%;
  max-width: 19%;
}

.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.margin-top-8 {
  margin-top: 8px;
}

videogular vg-overlay-play .play:before, [videogular] vg-overlay-play .play:before {
  content: "\e000";
  font-size: 50px;
  position: absolute;
  /* margin: auto; */
  display: table;
  /* display: table; */
  /* margin-bottom: 5px; */
  top: 73px;
  /* padding-left: 45%; */
  margin-left: calc(50% - 25px);
}


/*.item p {
    white-space: pre-wrap;
}*/

.item small {
  color: #8899a6;
}

.item .time:before {
  content: "\00b7";
}

.twtr-hashtag, .twtr-hyperlink, .twtr-atreply {
  color: #226699;
}

.dot_dot {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 36px;
  /* fallback */
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.read_more {
  text-align: right;
  color: #ffbc52;
  font-weight: 500;
  cursor: pointer;
  font-style: italic;
}

.hidemore {
  text-align: right;
  color: #ffbc52;
  font-weight: 500;
  cursor: pointer;
  font-style: italic;
}

.read_more1 {
  text-align: right;
  color: #ffbc52;
  font-weight: 500;
  cursor: pointer;
  font-style: italic;
}

.hidemore1 {
  text-align: right;
  color: #ffbc52;
  font-weight: 500;
  cursor: pointer;
  font-style: italic;
}


/*.ui-gmap-windows div img{
	background: url("../img/x.jpg") left top no-repeat;
}
.gm-style div div div div div img {
	background: url("../img/x.jpg") left top no-repeat;

  display: none;
}
.gm-style .gm-style-iw img {

  display: block;
}*/


/*.venu-menu-container ion-scroll .scroll{
	    transform: translate3d(0px, 1px, 0px) scale(0.6);
	    transform: translate3d(0px, 1px, 0px) scale(0.6) !important;
}*/

.slider-pager {
  position: absolute;
  bottom: 85px !important;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: center;
}

#talkbubble {
  width: 90px;
  height: 90px;
  background: #07bce6;
  position: relative;
  padding: 5px;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 37%;
  top: 26px;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 26px solid #07bce6;
  border-bottom: 18px solid transparent;
}

.buble_img {
  width: 80px;
  height: 80px;
  display: table;
  margin: auto;
}

.pin {
  width: 50px;
  height: 70px;
  background-image: url('../img/custom_pin.png');
  background-size: cover;
  position: absolute;
  top: -70px;
  left: -25px;
}

pin:after {
  /*content :  '';
    width :  60px;
    height : 60px;
    margin : 15px 0 0 15px;
    background:  #2F2F2F;
    position : absolute;
    border-radius : 50%;*/
}

.pin_img {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.ionic_ratings .icon {
  font-size: 20px;
}

.bg-overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
}

.bg-overlay1 {
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606060+0,212121+100&0+28,0+28,0.6+100 */
  background: -moz-linear-gradient(top, rgba(96, 96, 96, 0) 0%, rgba(78, 78, 78, 0) 28%, rgba(33, 33, 33, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(96, 96, 96, 0) 0%, rgba(78, 78, 78, 0) 28%, rgba(33, 33, 33, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(96, 96, 96, 0) 0%, rgba(78, 78, 78, 0) 28%, rgba(33, 33, 33, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00606060', endColorstr='#99212121', GradientType=0);
  /* IE6-9 */
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
}

.angular-google-map-container {
  height: 92% !important;
}

.home-list {
  border-radius: 8px !important;
  margin: 14px 10px !important;
}

.home-item {
  padding: 12px 10px 10px 70px !important;
  min-height: 50px !important;
}

.logo-img {
  top: 10px !important;
  left: 10px !important;
  max-width: 50px !important;
  max-height: 50px !important;
}

.home-span {
  position: absolute !important;
  /*top: 20px !important;*/
  bottom: 25px !important;
  right: 15px !important;
}

.home-img {
  width: 14px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.home-img-span {
  display: inline-block !important;
  vertical-align: middle !important;
  color: #000 !important;
}

.home-item-body {
  padding: 0 !important;
  overflow: hidden !important;
  height: 140px !important;
  position: relative !important;
}

.home-p {
  position: absolute !important;
  width: 100% !important;
  bottom: 10px !important;
  left: 10px !important;
}

.happ-active {
  background: url(../img/star.png) !important;
  width: 20px !important;
  height: 20px !important;
  top: -20px !important;
  position: absolute !important;
  background-size: cover !important;
  margin: 0px 0 0 0px !important;
}

.happ-inactive {
  background: url(../img/star-o.png) !important;
  width: 20px !important;
  height: 20px !important;
  top: -20px !important;
  position: absolute !important;
  background-size: cover !important;
  /*margin: 0px 0 0 -34px !important;*/
}

.veneu-body {
  padding: 0 !important;
  overflow: hidden !important;
  background: transparent !important;
  border: none !important;
}

.venue-title {
  font-size: 1.2rem;
  position: absolute !important;
  width: 100% !important;
  top: 5px !important;
  left: 25px !important;
  color: #fff !important;
}

.veneu-p {
  position: absolute !important;
  width: 100% !important;
  bottom: 10px !important;
  left: 10px !important;
  width: 50% !important;
}

.veneu-content {
  overflow: hidden !important;
  background: transparent !important;
  border: none !important;
}

.review-btn {
  background: #ffbc52 !important;
  width: 70% !important;
  color: #FFF !important;
  border-radius: 50px !important;
  padding: 0 !important;
  min-height: 50px !important;
  height: 50px !important;
  border: none !important;
  margin: 0 auto !important;
}

.review-bottom-p {
  position: absolute !important;
  width: 100% !important;
  top: 10px !important;
  right: 96px !important;
  width: 27% !important;
}

.review-date {
  position: absolute !important;
  width: 100% !important;
  top: 10px !important;
  right: 5px !important;
  float: right !important;
  width: 21% !important;
}

.product-scroll {
  /* height: 95px; */
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  overflow: scroll;
}

.product-image-wrapper {
  margin: 5px;
  /* width: 85px;
  height: 85px; */
  display: inline-block;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
}

.vendor-item {
  height: 170px !important;
  border-bottom: 4px solid #f9b346;
  /* padding-bottom: 18px !important; */
  position: relative !important;
}

.vendor-item img {
  height: 98% !important;
}

.vendor-h3 {
  position: absolute !important;
  font-size: 27px !important;
  bottom: 20% !important;
  color: #FFF !important;
  left: 5% !important;
}

.chat-message-box{
  display: block;
  float: left;
  /* width: 100%; */
  margin: 15px;
  margin-bottom: 0;
}

.chat-image{
  height: 60px;
  width: 60px;
  border-radius: 60px;
  float: left
}

.chat-text-container{
  /* display: inline-block; */
  float: left;
  background-color: #ffffff;
  margin-left: 15px;
  width: 100%;
  max-width: 70%;
  width: 70%;
  line-height: 1;
}

.talk-bubble {
	margin-left: 25px;
  display: inline-block;
  position: relative;
  width: 69%;
  height: auto;
  background-color: #ffbc52;
  border-radius: 10px;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -14px;
  right: auto;
  top: 26px;
  bottom: auto;
  border: 7px solid;
  /* border-radius: 5px; */
	border-color: #ffbc52 #ffbc52 transparent transparent;
}

.talktext p{
  padding: 5px
}
.message-time{
  font-size: 12px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: #1f1f1f;
}
.send-tools{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.send-tools a{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 50px;
  background: #ffbc52;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-tools a p{
  width: 80%;
}

.messge-box{
  background-color: #dfdfdf;
  border-radius: 5px;
  width: 100%;
  padding: 12px !important;
  line-height: 1;
}

.inquiry-label{
  font-size: 22px;
  font-weight: 600;
  margin: 15px 20px;
}

.inquiry-form  .item .input-label{
  color: #000000;
}

.inquiry-form .item input{
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #000000;
  margin-top: 5px;
}

.home-rating{
  width: 100%
}
.venue-option{
  width: 70%;
  object-fit: cover
}