<ion-view view-title="Search" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>

	<ion-content class="has-tabs">
		<!--<div class="list search-option-list">
			<label class="item" ng-model="selected.value1" popup-select options="option1" title="Choose Cuisine" value-field="id" display-field="name">
				<div class="fancy-select">
					<span></span>
				</div>
			</label>

			<label class="item" ng-model="selected.value2" popup-select options="option2" title="Choose food type" value-field="id" display-field="name" ng-if="selected.value1">
				<div class="fancy-select">
					<span></span>
				</div>
			</label>

			<div class="item" ng-if="selected.value1 && selected.value2">
				<button class="button button-block button-custom">
					Search
				</button>
			</div>
		</div>-->

		<div class="container">
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="mlm_menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">

				<ul data-menu="main" class="menu__level">
					<!--submenu-{{item.id}}-->
					<li class="menu__item" ng-repeat="item in category.parent" >
						<a ng-if="item.has_child<=0" class="menu__link" href="#">{{item.name}}</a>
						<a ng-if="item.has_child>0" class="menu__link" data-submenu="submenu-{{item.id}}" href="#">{{item.name}}</a>
				</li>

					
				</ul>

				
				<div ng-repeat="child_item in category.child">
					
					<ul ng-repeat="item in child_item"  data-menu="submenu-{{item.parent}}" class="menu__level">
						<li  class="menu__item">
							<a ng-if="item.has_child<=0" class="menu__link"  href="#" >{{item.name}}</a>
							<a ng-if="item.has_child>0" class="menu__link" data-submenu="submenu-{{item.id}}" href="#">{{item.name}}</a>
						</li>
					</ul>
				</div>
				

			
			</div>
		</nav>
		
	</div>





	</ion-content>
<!-- 	<div class="tabs tabs-icon-only footer-tab">
		<a class="tab-item" href="#/app/home">
			<i class="icon-tab-home"></i>
		</a>
		<a class="tab-item" ui-sref="app.scanQR">
			<i class="icon-tab-qrcode"></i>
		</a>
		<a class="tab-item" ng-click="openSearchModal()">
			<i class="icon-tab-search"></i>
		</a>
		<a class="tab-item tab-item-inbox" href="#/app/inbox">
			<i class="icon-tab-mail"></i><span class="badge-mail-count badge badge-assertive" ng-if="newMailCount>0" ng-bind="newMailCount"></span>
		</a>
		<a class="tab-item" href="#/app/map">
			<i class="icon-tab-places"></i>
		</a>
	</div> -->
</ion-view>



